<style>.dropdown-user:after { content: ""; height: 89px; width: 1px; left: 0px; top: -43px; position: absolute; background-color: #eeeeee; }</style>
<div class="page-wrapper">
    <div class="page-header" style="margin: -6px 0 0px; padding: 0px 50px 0px 25px;">
        <div class="page-logo">
			<a href="" title="Symfony"><img src="assets/images/symfony_logo.png" alt="Symfony" title="Symfony" style="height:50px; margin-top: 8px; margin-bottom: -18px;" /></a> 
		</div>
        <nav>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-repeat="value in header">
					<li><a style="text-decoration: none;" href="#/admin/dashboard" title="Dashboard" style="margin-right: 15px;">{{value.page_name}}</a></li>
                </ul>
            </div>
        </nav>
        <div class="pull-right right-menu">
            <div class="dropdown-user" style="margin-top: -30px;">
				<a style="text-decoration: none;" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<!-- <img src="assets/img/user_logo" alt="" title=""/> -->
					<h6>Admin</h6>
					<i class="" aria-hidden="true"></i>
				</a>
                <ul class="dropdown-menu">
                    <li>
						<a style="text-decoration: none;" href="#/admin/dashboard">Admin 
							<span style="text-decoration: none;" class="text-mail">admin@gmail.com</span>
						</a>
					</li>
                    <li><a style="text-decoration: none;" href="#/logout" title="Sign out" class="text-red">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="row-column">
        <div class="leftColumn">
            <div class="main-navigation">
                <ul class="menu-leftColumn">
                    <li><a style="text-decoration: none;" href="#/admin/dashboard">Dashboard</a></li>
                    <li><a style="text-decoration: none;" href="#/admin/email_template_management">Email template</a></li>
                    <li><a style="text-decoration: none;" href="#/admin/pagelist">CMS Management</a></li>
                    <li><a style="text-decoration: none;" href="#/admin/menu_management">Menu Management</a></li>
                </ul>
            </div>
        </div>

        <!----ngview----->
		
    </div>
</div>