<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
        <div class="rightColumn">
            <div class="box-content">
				<div class="content-rightColumn">
					<div class="inner-content">
						<h2>
							<div ng-controller="layout" class="alert alert-danger text-center"ng-if="inactive">
								<strong>Error ! </strong>You are disabled by admin please contact administrator.
							</div>
							Change Password 
						</h2>
						<div class="box-form">
							<form method="post" name="changPasswordForm" id="changPasswordForm" ng-submit="chnagePassword(formData);" class="form form-horizontal" novalidate>
								<div class="form-group">
									<label for="oldPassword">Old Password<span style="color:red;">*</span></label>
									<input type="password" name="oldPassword" id="oldPassword" ng-model="formData.oldPassword" class="form-control"  placeholder="●●●●●●●●" ng-required="true">
									<span style="color:red" ng-show="changPasswordForm.oldPassword.$dirty && changPasswordForm.oldPassword.$invalid">
										<span ng-show="changPasswordForm.oldPassword.$error.required">Old password is required field.</span>
									</span>
									<span ng-show="oldPassError == true" style="color:red;">Old password does not match.</span>
								</div>
								<input type="hidden" name="id" ng-model="formData.id">
								<div class="form-group">
									<label for="newPassword">New Password<span style="color:red;">*</span></label>
									<input type="password" name="newPassword" id="newPassword" ng-model="formData.newPassword" class="form-control" ng-minlength="6" placeholder="●●●●●●●●" ng-required="true" >
									<span style="color:red" ng-show="changPasswordForm.newPassword.$dirty && changPasswordForm.newPassword.$invalid">
										<span ng-show="changPasswordForm.newPassword.$error.required">New password is required field.</span>
										<span ng-if="!registerForm.password.$valid">Password must be of minimum 6 characters length.</span>
									</span>
								</div>
								<div class="form-group">
									<label for="cNewPassword">Confirm Password<span style="color:red;">*</span></a></label>
									<input type="password" name="cNewPassword" id="cNewPassword" ng-model="formData.cNewPassword" class="form-control" placeholder="●●●●●●●●" ng-required="true" ng-change="checkPass()">
									<span style="color:red" ng-show="changPasswordForm.cNewPassword.$dirty && changPasswordForm.cNewPassword.$invalid">
										<span ng-show="changPasswordForm.cNewPassword.$error.required">Confirm password is required field.</span>
									</span>
									<span ng-show="passNotMatch == true" style="color:red;">Confirn password does not match.</span>
								</div>
								<div class="alert alert-success text-center" ng-show="changePassSucc == true" >
									<strong>Sussess ! </strong>Password change successfully.
								</div>
								<div class="alert alert-danger text-center" ng-show="allFieldError == true">
									<strong>Error ! </strong>Please filled mandatory fields.
								</div>
								<div class="form-group">
									<button type="submit" ng-click="change_password_button();" class="btn btn-big">Submit</button>
								</div>
							</form>
						</div>       
					</div>
				</div>
			</div>
			<!-- <div class="page-footer"> -->
                <!-- <p ng-include="'view/layout/footer.html'"></p> -->
            <!-- </div> -->
			<div class="page-footer">
				<p>&copy; Cake Php 2019</p>
			</div>
		</div>
	</div>
</div>