<header ng-include="'view/layout/header.html'"></header>
<div class="row-column">
	<div class="rightColumn">
		<div class="box-content">
			<div ng-controller="layout" class="alert alert-danger text-center" ng-if="inactive">
				<strong>Error ! </strong>You are disabled by admin please contact administrator.
			</div>
			<h2>Welcome {{ name }}</h2>
		</div>
		<!-- <div class="page-footer"> -->
			<!-- <p ng-include="'view/layout/footer.html'"></p> -->
		<!-- </div> -->
		<div class="page-footer">
			<p>&copy; Cake Php 2019</p>
		</div>
	</div>
</div>