<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
        <div class="rightColumn">
            <div class="box-content">
				<div ng-controller="layout" class="alert alert-danger text-center" ng-if="inactive">
					<strong>Error ! </strong>You are disabled by admin please contact administrator.
				</div>
                <div class="form-details profile-page">
                    <form class="form-horizontal" method="post" name="editProfileForm" id="editProfileForm" ng-submit="editProfileForm(profileData);" enctype="multipart/form-data" novalidate>
                        <div class="client-detail">
                            <div class="client-image">
								<img src="../api/webroot/uploads/{{ profileDataImg.image }}" style="height:180;width:190;">
								<div class="form-group"><br/>
									<div class="col-md-3 text-right">
										<input type="file" name="file" data-my-Directive>
									</div>
								</div>
							</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="name">Name<span style="color:red">*</span></label>
                                    <input type="text" name="name" id="name" ng-model="profileData.name" ng-value="{{ profileData.name }}" class="form-control" ng-required="true">
									<span style="color:red" ng-if="editProfileForm.name.$dirty && editProfileForm.name.$invalid">
										<span ng-if="editProfileForm.name.$error.required">Name is required field.</span>
									</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" ng-model="profileData.email" ng-value="{{ profileData.email }}" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="phone">Phone<span style="color:red">*</span></label>
                                    <input type="text" name="phone" id="phone" ng-model="profileData.phone" class="form-control" ng-value="{{ profileData.phone }}" ng-minlength="10" ng-maxlength="10" ng-required="true" number>
									<span style="color:red" ng-if="editProfileForm.phone.$dirty && editProfileForm.phone.$invalid">
										<span ng-if="editProfileForm.phone.$error.required">Phone number is required field.</span>
										<span ng-if="!editProfileForm.phone.$valid">Required only 10 digits.</span>
									</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="date_of_birth">Date of Birth<span style="color:red">*</span></label>
                                    <input type="text" name="date_of_birth" id="date_of_birth" ng-value="{{profileData.date_of_birth}}" ng-model="profileData.date_of_birth" class="form-control" format="yyyy-mm-dd" placeholder="mm-dd-yyyy" ng-required="true" datepicker="">
									<span style="color:red" ng-if="editProfileForm.date_of_birth.$dirty && editProfileForm.date_of_birth.$invalid">
										<span ng-if="editProfileForm.date_of_birth.$error.required">Date of birth is required field.</span>
									</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="gender">Gender<span style="color:red">*</span></label>
                                    <input type="radio" id="radio01" ng-model="profileData.gender" ng-value="'Male'" name="gender" ng-checked = "true">
                                    <label for="radio01"><span></span>Male</label>
                                    <input type="radio" id="radio02" ng-model="profileData.gender" ng-value="'Female'" name="gender">
                                    <label for="radio02"><span></span>Female</label>
									<span style="color:red" ng-if="editProfileForm.gender.$dirty && editProfileForm.gender.$invalid">
										<span ng-if="editProfileForm.gender.$error.required">Gender is required field.</span>
									</span>
                                </div>
                            </div>
                        </div>
						<div class="col-md-6 alert alert-danger text-center" ng-show="allFieldError == true">
							<strong>Error ! </strong>Please fill mandatory fields.
						</div>
						<div class="col-md-6 alert alert-success text-center" ng-show="successUpdateProfile == true">
							<strong>Success ! </strong>Profile updated successfully.
						</div>
                        <div class="col-md-12">
                            <button type="button" class="btn bg-purple margin" ng-click="updateProfile();">
                                Update Profile
                            </button>
                        </div>
                    </form>
                </div>
            </div>
			<div class="page-footer">
				<p>&copy; Cake Php 2019</p>
			</div>
        </div>
    </div>
</div>