
{% extends 'base.html.twig' %}

{% block body %}
	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				profile page
				<small>it all starts here</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
		</section>
		<section class="content">
			<div class="box">
			
				<div class="tab-pane" id="settings">
					<div>
						<h2>Edit Details</h3>
					</div>
					
					<form class="form-horizontal"  id="Update-form" action="{{ path('posteditprofile') }}" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"id="username" name="username" value="{{ username }}"/>
						</div>	
					</div>
					
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label">Date of birth</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="date_of_birth" id="date_of_birth" value= "{{ date_of_birth }}" placeholder="DOB">
						</div>
                  </div>
					
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label">Phone</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="phone" id="phone" value= "{{ phone }}" placeholder="Phone no">
						</div>
                  </div>
					
					<div class="form-group">
						<label for="inputEmail" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10 has-feedback">
							<input type="email" class="form-control" name="email" id="email" value= "{{ email }}" placeholder="Email">
						</div>
					</div>
				
					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label"  >Gender</label>
						<div class="col-sm-10">
							<input type="radio" name="gender" value="male" checked> Male<br>
							<input type="radio" name="gender" value="female"> Female<br>
						</div>
					</div>
					
					<div class="form-group has-feedback">
						<label for="inputExperience" class="col-sm-2 control-label">Country</label>
						<div class="col-sm-10 has-feedback">
							<select class="form-control select2" name="country" id="country" style="width: 100%;">
								  <option selected="selected">{{ country }}</option>
								  <option>Alaska</option>
								  <option>India</option>
								  <option>California</option>
								  <option>Delaware</option>
								  <option>Tennessee</option>
								  <option>Texas</option>
								  <option>Washington</option>
								</select>  
						</div>
					</div>
					<div class="">
						<label for="inputName" class="col-sm-2 control-label"  >File Upload</label>
						<div class="col-sm-10">
							<input type="file" id="FileUpload" name="ImageUpload">
							<br/>
							<div id="PreviewPicture" name="PreviewPicture"></div>
							 <img  src="{{ image}}" alt="" width="80" height="80" />
						</div>
						<div class="col-sm-10">
						</div>
					</div>
					
					<div class="form-group">
						<button class="btn bg-purple margin" id="submit_button" type="submit">Update</button>

						<div class="col-sm-10 has-feedback">
						
						</div>
					</div>
					</form>
              </div>
			</div>
		</section>
	</div>
 <script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js')}}"></script>
<script>
	$(function () {
		$("#FileUpload").on("change", function(){
			var files = !!this.files ? this.files : [];
			if (!files.length || !window.FileReader) return; 
			if (/^image/.test( files[0].type)){
				var ReaderObj = new FileReader(); 
				ReaderObj.readAsDataURL(files[0]); 
				ReaderObj.onloadend = function(){ 
					$("#PreviewPicture").html('<img src="'+this.result+'" width="100">');
				}
			}else{
				alert("Upload an image");
			}
		});
	});
</script>
{% endblock %}
	


