<header ng-include="'view/layout/adminHeader.html'"></header> 
<!--Toggle button-->
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<div class="row-column" ng-init="loadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
					<div ng-if="loader" style="text-align:center;">
						<img src="assets/images/loder.png" alt="Plan Securely" title="Plan Securely" style="height:200px;">
					</div>
					<div class="alert alert-success text-center" ng-show="flashMsg == true">
						This user status has been changed successfully
					</div>
					<h2>Users list</h2>            
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody ng-repeat="value in res">
							<tr>
								<td>{{value.name}}</td>
								<td>{{value.email}}</td>
								<td>
									<label class="switch">
										<input type="checkbox" checked  ng-model="formData.checkbox[$index]" data-toggle="modal" data-backdrop="static" ng-click="Status(value.id,value.status,$index);" data-target="#myModal" ng-checked="value.status == 1">
										<span class="slider"></span>
									</label><br><br>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal"role="dialog" style="margin-top: 100px; ">
	<div class="modal-dialog">
		<!-- Modal content-->
		<form action="" method="post" name="statusForm" id="statusForm" ng-submit="statusForm(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header"><span>Status</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 349px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-center">are you sure want to change the status ?</p>
					<input type='hidden' name='hiddenid' ng-model="formData.hiddenid" id="hidden" >
					<input type='hidden' name='hiddenStatus'ng-model="formData.hiddenStatus" id="hiddenStatus" >
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="changedStatus();" id="submit_button" data-dismiss="modal" class="btn btn-default" >Yes</button>
					<button type="button" class="btn btn-default" ng-click="toggleNo(hiddenStatus);" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div>
  
  
  
