<style>.manadatry {color:red;}</style>
<header ng-include="'view/layout/adminHeader.html'"></header>
<div class="row-column">
	<div class="rightColumn">
		<div class="box-content">
			<div ng-if="loader" style="text-align:center;">
				<img src="assets/images/loder.png" alt="Plan Securely" title="Plan Securely" style="height:200px;">
			</div>
			<form action="" method="post" name="cms_management" id="cms_management" ng-submit="cms_managementv(formData);" class="form form-horizontal" novalidate>
				<div class="messages"></div>
				<div class="form-group">
					<label for="page_name">Page Name<span class="manadatry">*</span></label>
					<input type="test" name="page_name" id="page_name" ng-model="formData.page_name" class="form-control" placeholder="Page Name" ng-required="true">
					<span style="color:red" ng-show="cms_management.page_name.$dirty && cms_management.page_name.$invalid">
						<span ng-show="cms_management.page_name.$error.required">This field is required.</span>
					</span>
				</div>
				<div class="form-group">
					<label for="page_contant">Enter Page Content<span class="manadatry">*</span></label>
					<textarea  ng-model="formData.page_contant" ready="onReady()" rows="10" cols="80" ng-required="true">
					</textarea>
					<span style="color:red" ng-show="cms_management.page_contant.$dirty && cms_management.page_contant.$invalid">
						<span ng-show="cms_management.page_contant.$error.required">This field is required.</span>
					</span>
				</div>
				<div class="form-group">
					<div class="alert alert-success text-center" ng-show="flashMsg == true">
						 Template created successfully
					</div> 
					<div class="alert alert-danger text-center" ng-show="uniquePage == true">
						Page name already exist
					</div>
					<div class="alert alert-danger text-center" ng-show="allFieldError == true">
						<strong>Error!</strong>Please fill out all mandatory fields
					</div>	
					<div class="alert alert-danger text-center" ng-show="deleteTemplateError == true">
						<strong>Error!</strong>Delete template Successfully	
					</div>
				</div>
				<div class="col-md-12">
					<button type="button" class="btn bg-purple margin" ng-click="create_page_button();">
						Create Page
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="page-footer">
		<p>&copy; PlanSecurely 2017</p>
	</div>
</div>

