<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="loadEmailTemplate();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row-column">
				<div class="row row-services">
					<div class="container">
						<div ng-if="loader" style="text-align:center;">
							<img src="assets/images/loder.png" alt="Plan Securely" title="Plan Securely" style="height:200px;">
						</div>
						<h2>Email Template</h2>
						<form method="POST" name="email_template_form" id="email_template_form" ng-submit="email_template_form(formData);" class="form form-horizontal" novalidate>
							<div class="form-group col-md-12">
								<input type='text' ng-model="formData.sign_up" readonly>
							</div>
							<div class="form-group">
								<textarea ng-model="formData.sign_up_content" rows="10" cols="80">	{{formData.sign_up_content}}</textarea>
							</div>
							<div class="form-group col-md-12">
								<input type='text'ng-model="formData.forgot_password" readonly>
							</div>
							<div class="form-group">
								<textarea ng-model="formData.forgot_password_content" rows="10" cols="80">
								{{ formData.forgot_password_content }}</textarea>
							</div>
							<div class="form-group col-md-12">
								<input type='text'ng-model="formData.change_password" readonly>
							</div>
							<div class="form-group">
								<textarea ng-model="formData.change_password_content" rows="10" cols="80">
								{{ formData.change_password_content }}</textarea>
							</div>
							<div class="form-group">
								<div class="alert alert-success text-center" ng-show="SuccessMsg == true">
									Save tamplate successfully
								</div>
								<div class="alert alert-success text-center" ng-show="SuccessMsg1 == true">
									Tamplate Update successfully
								</div>
							</div>
							<button type="button" class="btn bg-purple margin" ng-click="email_template();">
								Save
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<p>&copy; PlanSecurely 2017</p>
		</div>
	</div>
</div>
