<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="loadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
						<div ng-if="loader" style="text-align:center;">
							<img src="assets/images/loder.png" alt="Plan Securely" title="Plan Securely" style="height:200px;">
						</div>
					<div class="alert alert-success text-center" ng-show="deleteMsg == true">
						<span> CMS page deleted successfully</span>
					</div>
					<div class="alert alert-success text-center" ng-show="updateSuccess == true">
						<span>CMS Updated successfully</span>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h2>CMS Management</h2>
						</div>
						<div class="col-md-6">
							<div class="text-right">
								<a style="text-decoration:none;" class="btn btn-primary" href="#/admin/cms_management">Create Page</a>
							</div>
						</div>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Page Name</th>
								<th>Created</th>
								<th>Modified</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody ng-repeat="value in res">
							<tr>
								<td>{{value.page_name}}</td>
								<td>{{value.created}}</td>
								<td>{{value.modified}}</td>
								<td>
									<a style="text-decoration: none;" ng-model="formData.edit[$index]" data-backdrop="static" data-toggle="modal" ng-click="edit(value.id);" data-target="#myEditModal" ><span class="glyphicon glyphicon-pencil"></span></a> | 
									
									<a style="text-decoration: none;" href="http://upworkdevelopers.com/test/prosmy/app/#/static?page={{value.page_name}}"  target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a> | 
									
								   
									<a style="text-decoration: none;" ng-model="formData.delete[$index]" data-toggle="modal" ng-click="delete(value.id);" data-backdrop="static" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span></a>	
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- EDIT-MODEL-POPUP -->
<div class="modal fade" id="myEditModal"role="dialog" style="margin-top: 80px; ">
	<div class="modal-dialog">
		<!-- Modal content-->
		<form action="" method="post" name="cms_managementUpdate" id="cms_managementUpdate" ng-submit="cms_managementUpdate(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header"><span>Edit</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-12">
							<label for="pageName">Page Name<span class="manadatry">*</span></label>
							<input type="test" name="pageName" id="pageName" ng-model="formData.pageName" class="form-control" placeholder="Page Name" ng-required="true" ng-value="{{ formData.pageName }}"/>
							<span style="color:red" ng-show="cms_managementUpdate.pageName.$dirty && cms_managementUpdate.pageName.$invalid">
								<span ng-show="cms_managementUpdate.pageName.$error.required">this feald is required.</span>
							</span>
						</div>	
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="pageContent">Enter Page Content<span class="manadatry">*</span></label>
							<textarea  ng-model="formData.pageContent" ready="onReady()" rows="10" cols="80">
								{{ formData.pageContent }}
							</textarea>
							<input type="hidden" name="hidden_id" ng-model="formData.hidden_id" id="hidden_id" >
						</div>	
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" style="height: 10px; padding-left: 16px; padding-right: 17px; padding-bottom: 45px;" ng-click="update();" data-dismiss="modal">Update</button>
					<button type="button" style="height: 10px; padding-left: 16px; padding-right: 17px; padding-bottom: 45px;"  data-dismiss="modal">Cancle</button>
				</div>
			</div>
		</form>	
	</div>
</div> 

<!-- DELETE-MODEL-POPUP -->
<div class="modal fade" id="myModal"role="dialog" style="margin-top: 100px; ">
	<div class="modal-dialog">
		<!-- Modal content-->
		<form action="" method="post" name="deleteCmsForm" id="deleteCmsForm" ng-submit="deleteCmsForm(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header"><span>Delete</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-center">are you sure want to delete ?</p>
					<input type='hidden' name='hiddenid' ng-model="formData.hiddenid" id="hiddenid" />
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="deleteYes();" id="submit_button" data-dismiss="modal" class="btn btn-default" >Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div>  
