<br/>
<br/>
<div class="rowColumns">
	<div class="box-form">
		<div class="col-md-12" align=center>
			<img src="assets/img/download (1).png" style="border-radius:35px;height:200px;width:250px;">
		</div>
		<div class="col-md-12" align=center style="color:gray;">
			<br/>
			<span style="font-size:60px;">Thank You!!</span>
		</div>
		<br/>
		<div class="col-md-12" align=center style="font-size:35px">
			<br/>
			<label><h2><b>Email has been sent to your registered email address with a confirmation link</b></h2></label>
		</div>
		<br/>
	</div>
</div>