<style>.manadatry {color:red;}</style>
<header ng-include="'view/layout/adminHeader.html'"></header>
<div class="row-column">
	<div class="rightColumn">
		<div class="box-content">
			<form method="POST" name="cms_management" class="form form-horizontal" novalidate>
				<div class="form-group">
					<label for="page_name">Page Name<span class="manadatry">*</span></label>
					<input type="test" name="page_name" id="page_name" ng-model="formData.page_name" class="form-control" placeholder="Page Name" ng-required="true" disallow-spaces>
					<span style="color:red" ng-show="cms_management.page_name.$dirty && cms_management.page_name.$invalid">
						<span ng-show="cms_management.page_name.$error.required">This field is required.</span>
					</span>
				</div>
				<div class="form-group">
					<label for="page_contant">Enter Page Content<span class="manadatry">*</span></label>
					<textarea  ng-model="formData.page_contant" ready="onReady()" rows="10" cols="80" ng-required="true">
					</textarea>
					<span style="color:red" ng-show="cms_management.page_contant.$dirty && cms_management.page_contant.$invalid">
						<span ng-show="cms_management.page_contant.$error.required">This field is required.</span>
					</span>
				</div>
				<div class="form-group">
				<div class="alert alert-success text-center" ng-show="successMsg">
					<strong>Success ! </strong>{{ successMsg }}
				</div>
				<div class="alert alert-danger  text-center" ng-show="errorMsg">
					<strong>Error ! </strong>{{ errorMsg }}
				</div>
				</div>
				<div class="col-md-12">
					<button type="button" class="btn bg-purple margin" ng-click="create_page_button(formData);">
						Create Page
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="page-footer">
		<p>&copy; Laravel 2019</p>
	</div>
</div>

