<style>.manadatry {color:red;}</style>
<header ng-include="'view/layout/adminHeader.html'"></header>
<div class="row-column">
    <div class="rightColumn">
        <div class="box-content">
            <h2>Menu Management</h2>
            <form method="POST" name="menu_management_form" class="form form-horizontal" novalidate>
                <div class="row ">
				
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Name of menu<span class="manadatry">*</span></label>
                            <input type="text" class="form-control" name="menu_name" ng-model="formData.menu_name" ng-required="true" />
                            <span style="color:red" ng-show="menu_management_form.menu_name.$dirty && menu_management_form.menu_name.$invalid">
								<span ng-show="menu_management_form.menu_name.$error.required">Menu name is required field.</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Add menu</label>
                            <div class="hidden-xs">
                                <select class="selectpicker" ng-model="formData.menu_type" ng-required="true">
                                    <option value="header">Header</option>
                                    <option value="footer">Footer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Url<span class="manadatry">*</span></label>
                            <input type="text" class="form-control" name="menu_url" ng-model="formData.menu_url" ng-required="true" />
                            <span style="color:red" ng-if="menu_management_form.menu_url.$dirty && menu_management_form.menu_url.$invalid">
								<span ng-if="menu_management_form.menu_url.$error.required">Url is required field.</span>
                            </span>
                        </div>
                    </div>
                </div>
				<div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
							<div class="alert alert-success text-center" ng-show="successMsg">
								<strong>Success ! </strong>{{ successMsg }}
							</div>
							<div class="alert alert-danger  text-center" ng-show="errorMsg">
								<strong>Error ! </strong>{{ errorMsg }}
							</div>
                        </div>
                    </div>
                </div>
				<div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
							 <button type="button" title="Save" class="btn btn-primary" ng-click="create_menu(formData);">save</button>
                        </div>
                    </div>
                </div>
			</form>
        </div>
    </div>
    <div class="page-footer">
        <p>&copy; Laravel 2019</p>
    </div>
</div>