<style>.mandatory {color:red;}</style>
<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="loadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
					<div ng-if="loader" style="text-align:center;">
						<img src="assets/images/loder.png" alt="Plan Securely" title="Plan Securely" style="height:200px;">
					</div>
						<div class="alert alert-success text-center" ng-show="successMsg">
							<strong>Success ! </strong>{{ successMsg }}
						</div>
						<div class="alert alert-danger text-center" ng-show="errorMsg">
							<strong>Error ! </strong>{{ errorMsg }}
						</div>
					<div class="row">
						<div class="col-md-6">
							<h2>Menu Management</h2>
						</div>
						<div class="col-md-6">
							<div class="text-right">		
								<a style="text-decoration:none;" class="btn btn-primary" href="#/admin/create_menu">Create menu</a>
							</div>
						</div>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Menu Name</th>
								<th>Menu Type</th>
								<th>Created</th>
								<th>Modified</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody ng-repeat="value in res">
							<tr>
								<td>{{value.menu_name}}</td>
								 <td>{{value.menu_type}}</td>
								<td>{{value.created_at}}</td>
								<td>{{value.updated_at}}</td>
								<td>
									<a style="text-decoration: none; ng-model="formData.edit[$index]" data-toggle="modal" ng-click="edit(value.id);" data-backdrop="static" data-target="#myEditModal"><span class="glyphicon glyphicon-pencil"></span></a> |
								   
									<a style="text-decoration: none;" ng-model="formData.delete[$index]" data-toggle="modal" ng-click="delete(value.id);" data-backdrop="static" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- EDIT-MODEL-POPUP -->
<div class="modal fade" id="myEditModal"role="dialog" style="margin-top: 80px; ">
	<div class="modal-dialog">
		<!-- Modal content-->
		<form method="POST" name="menu_management_edit_form" ng-submit="menu_management_edit_form(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header"><span>Edit</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body" style="margin-left: 24px;">
						<div class="row ">
							<div class="col-md-6 col-lg-11">
								<div class="form-group">
									<label>Name of menu<span class="mandatory">*</span></label>
									<input type="text" class="form-control" name="menuName" ng-model="formData.menuName" ng-required="true" ng-value="formData.menuName" />
									<span style="color:red" ng-show="menu_management_edit_form.menuName.$dirty && menu_management_edit_form.menuName.$invalid">
										<span ng-show="menu_management_edit_form.menuName.$error.required">menu name is required.</span>
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-11">
								<div class="form-group">
									<label>Add menu</label>
									<div class="hidden-xs">
										<select class="selectpicker" ng-model="formData.menuType" ng-value="{{ formData.menuType }}" ng-required="true">
											<option value="header">Header</option>
											<option value="footer">Footer</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-11">
								<div class="form-group">
									<label>Url<span class="mandatory">*</span></label>
									<input type="text" class="form-control" name="menuUrl" ng-model="formData.menuUrl" ng-required="true" ng-value="{{ formData.menuUrl }}" />
									<span style="color:red" ng-if="menu_management_form.menuUrl.$dirty && menu_management_form.menuUrl.$invalid">
									<input type="hidden" name="hidden_id" ng-model="formData.hidden_id" id="hidden_id" >
										<span ng-if="menu_management_form.menuUrl.$error.required">url is required field</span>
									</span>
								</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" style="height: 10px; padding-left: 16px; padding-right: 17px; padding-bottom: 45px;" ng-click="update();" data-dismiss="modal">Update</button>
					<button type="button" style="height: 10px; padding-left: 16px; padding-right: 17px; padding-bottom: 45px;"  data-dismiss="modal">Cancle</button>
				</div>
			</div>
		</form>	
	</div>
</div> 

<!-- DELTE - MODEL -->
<div class="modal fade" id="myModal"role="dialog" style="margin-top: 100px; ">
	<div class="modal-dialog">
		<!-- Modal content-->
		<form method="POST" name="statusForm" ng-submit="statusForm(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header"><span>Delete</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-center">are you sure you want to delete ?</p>
					<input type='hidden' name='hiddenid' ng-model="formData.hiddenid" id="hidden" >
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="deleteYes();" id="submit_button" data-dismiss="modal" class="btn btn-default" >Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div>