<div class="page-wrapper">
    <div class="page-header" style="margin: -6px 0 0px;">
        <div class="page-logo">
			<a href="" title="Symfony"><img src="assets/images/symfony_logo.png" alt="Symfony" title="Symfony" style="height:50px;" /></a> 
		</div>
        <div class="pull-right right-menu" ng-controller="logout">
            <div class="dropdown-user">
				<a style="text-decoration: none;" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img ng-controller="profile" ng-model="profileData.image" src="../api/web/{{ profileData.image }}"client-photo" /></a>
				<i class="" aria-hidden="true"></i>
                <ul class="dropdown-menu" style="margin-top: 40px;">
                    <li><a style="text-decoration: none;" href="#/profile" title="My Account">My Account</a></li>
					 <li role="separator" class="divider"></li>
                    <li><a style="text-decoration: none;" href="#/changePassword" title="Change Password">Change Password</a></li>
                    <li role="separator" class="divider"></li>
					<li><a style="text-decoration: none;" href="javascript:void(0)" ng-click="logout();" class="text-red">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-column">
        <div class="leftColumn">
            <div class="main-navigation">
                <ul class="menu-leftColumn">
                    <li>
						<a style="text-decoration: none;" href="#/dashboard">Dashboard</a>
					</li>
                  
                </ul>
            </div>
        </div>
        <!----ngview----->
		
    </div>
</div>
