<header  ng-controller="layout">
		<nav class="top-navbar fixed-top" id="mainNav">
			<div class="container">
				 <h1 id="logo"><a title="Plan Securely" href=""><img src="assets/images/symfony_logo.png" title="Symfony" alt="Symfony" style="height: 50px;"/></a></h1>
				 <nav class="navbar navbar-toggleable-md">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars" aria-hidden="true"></i> </button>
					<div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav" ng-controller="layout" ng-repeat="value in res">
							<li><a ng-click="reloadRoute()" style="text-decoration:none;" ng-if="(value.menu_type) == 'header'"  ng-href="{{ value.menu_url}}">{{ value.menu_name }}</a></li>
						</ul>
						<ul class="navbar-nav nav-signup">
							<li><a style="text-decoration:none;" href="#/login" title="Sign In">Sign In</a></li>
							<li class="btn-free-trial"><a style="text-decoration:none;" href="#/register" title="Sign Up">Sign Up</a></li>
						</ul>
					</div>
				</nav>
			</div>
		 </nav>   
		<div id="myCarousel" class="carousel slide home-carousel" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active"> <img class="first-slide" src="assets/images/slider1.jpg" alt="First slide">
					<div class="carousel-caption">
					
					</div>
				</div>
				<div class="carousel-item"> <img class="second-slide" src="assets/images/slider1.jpg" alt="Second slide">
					<div class="carousel-caption">
						
					</div>
				</div>
				<div class="carousel-item"> <img class="third-slide" src="assets/images/slider1.jpg" alt="Third slide">
					<div class="carousel-caption">
						
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
	</header>