<div class="page-wrapper">
    <div class="page-header" style="margin-top:-20px;padding-bottom:0px;">
        <div class="page-logo">
			<a href="javascript:void(0)" title="Codeigniter"><img src="assets/images/ci.png" alt="Codeigniter" title="Codeigniter" style="height:65;width:90;"></a>
		</div>
        <div class="pull-right right-menu">
            <div class="dropdown-user">
				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-decoration:none;"><br/><h6>Admin</h6></a>
                <ul class="dropdown-menu">
					<li>admin@gmail.com</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#/logout" title="Sign out" class="text-red" style="text-decoration:none;">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="row-column">
        <div class="leftColumn">
            <div class="main-navigation">
                <ul class="menu-leftColumn">
                    <li><a href="#/admin/dashboard" style="text-decoration:none;">Dashboard</a></li>
                    <li><a href="#/admin/email_template_management" style="text-decoration:none;">Email Template</a></li>
                    <li><a href="#/admin/pagelist" style="text-decoration:none;">CMS Management</a></li>
                    <li><a href="#/admin/menu_list" style="text-decoration:none;">Menu Management</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>