<div ng-controller="layout">
	<table>
		<tr>
			<!-- <td ng-repeat="value in res"> -->
				<!-- <a ng-if="(value.menu_type) == 'footer'" style="text-decoration:none;" href="{{ value.menu_url}}" target="_blank">{{ value.menu_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
			<!-- </td> -->
		</tr>
	</table>
</div>