<footer ng-controller="layout">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-3">
				<a class="logo-foooter" href="#" title="Codeigniter"><img src="assets/images/ci.png" style="height:50px;" alt="Codeigniter" title="Codeigniter"></a>
				<p class="copyright">&copy; 2019 Codeigniter.</p>
			</div>
			<div class="col-12 col-sm-12 col-md-9">
				<div class="row row-footerMenu">
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Codeigniter</h5>
						<ul class="menu-list" ng-repeat="value in res">
							<li>
								<a ng-if="(value.menu_type) == 'footer'" style="text-decoration:none;" href="{{ value.menu_url}}">{{ value.menu_name}}</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Get Started</h5>
						<ul class="menu-list">
							<li><a href="#/register" title="Create Account">Create Account</a></li>
							<li><a href="#/login" title="Login">Login</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Resources</h5>
						<ul class="menu-list">
							<li><a href="https://www.codeigniter.com/docs" title="Documentation" style="text-decoration:none;" target="_blank">Documentation</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Get in Touch</h5>
						<ul class="menu-list">
							<li><a href="https://devdocs.io/codeigniter~3/" title="User Guide" style="text-decoration:none;" target="_blank">User Guide</a></li>
						</ul>
						<ul class="list-socialMedia">
							<li><a href="https://www.facebook.com/" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>