<article>
	<div class="container">
		<div class="row row-card-detail">
			<div class="col-12 col-sm-12 col-md-8">
            	<h1 id="logo"><a title="Laravel" href="#"><img src="assets/images/logo.png" alt="Laravel" title="Laravel" style="height: 80px; border-radius: 50px;" /></a></h1>
				<h2>
					<span>Enter your card details</span>
				</h2>
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-10">
						<div class="box-payment_options">
							<ul class="list-paymentOptions">
                            	<li>
                                	<label class="custom-control custom-radio">
                                      <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                    </label>
                                    <img src="assets/images/card-visa.jpg" alt="Visa" title="Visa"/>				
                                    <img src="assets/images/card-master.jpg" alt="Master" title="Master"/>
                                    <img src="assets/images/card-american-express.jpg" alt="American Express" title="American Express"/>				
                                    <img src="assets/images/card-discover.jpg" alt="Discover" title="Discover"/>
                                </li>
                                <li>
                                	<label class="custom-control custom-radio">
                                      <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                    </label>
									<img src="assets/images/card-paypal.jpg" alt="PayPal" title="PayPal"/>				
                                </li>
                            </ul>
 						</div>
						<div class="form-card-detail box-form">
							<form method="POST" name="payment" ng-submit="sss(formData);" novalidate>
								<div class="form-group">
									<label for="Card Number">Card Number</label>
									<input type="text" class="form-control" name="card_number" ng-model="formData.card_number" title="Card Number" placeholder="">
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col col-12 col-sm-6 col-md-6">
											<label for="Security code">Security code</label>
											<input type="text" class="form-control" name="security_code" ng-model="formData.security_code" title="Security code" placeholder="">
										</div>
										<div class="col col-12 col-sm-6 col-md-6">
											<label for="Expiration date">Expiration date</label>
											<input type="text" class="form-control input-datepicker" name="card_number" ng-model="formData.card_number" id="datetimepicker1"  title="expiration_date" placeholder="mm/dd/yyyy">
										</div>
									</div>		
								</div>

								<!-- <div class="form-group"> 
									<label for="Postal code">Postal code</label>
									<div class="row">
										<div class="col-12 col-sm-6 col-md-5">
											<input type="text" class="form-control" title="Postal code" placeholder=""/>
										</div>
										<div class="col-12 col-sm-6 col-md-7">
											<select title="United States" class="form-control">
												<option>United States</option>
											</select>
										</div>
									</div>		
								</div>-->
								<div class="form-group p-t30">
                                	<input type="submit" title="payment" value="payment"/>
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-4 card-details-right-column">
				<div class="icon-faq"></div>
				<ul class="list list-card-detail">
					<li>
						<h6>Will my credit card be charged right now?</h6>
						<p>Don't worry, you won't be charged now. You'll only be charged if you don't cancel your trial before it ends on July 31, 2017.</p>
					</li>
					<li>
						<h6>Can I cancel the trial at any time?</h6>
						<p>Yes! You can cancel at any tim. This is a no-obligation free trial.</p>
					</li>
					<li>
						<h6>Can I change my payment method later?</h6>
						<p>Yes! You can change your payment method any time.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
