<style>.manadatry {color:red;}</style>
<div class="rowColumns">
   <div class="leftColumn">
      <div class="content-leftColumn">
         <div class="columnImg"><img src="assets/images/signup-bg.jpg" alt="" title=""/></div>
          <h1 id="logo"><a title="Laravel" href="#"><img src="assets/images/logo.png" alt="Laravel" title="Laravel" style="height: 80px; border-radius: 50px;"/></a></h1>
         
      </div>
   </div>
   
	<div class="rightColumn">
		<div class="content-rightColumn">
			<div class="inner-content">
				<h2>
				   Forgot Password
				   <span>Enter your email details below.</span>
				</h2>
				<div class="box-form">
					<form method="POST" name="forgotPasswordForm" class="form form-horizontal" novalidate>
						<div class="form-group">
							<label for="email">Email<span class="manadatry">*</span></label>
							<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
							<span style="color:red" ng-if="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid">
								<span ng-if="forgotPasswordForm.email.$error.required">Email is required.</span>
								<span ng-if="forgotPasswordForm.email.$error.email">Invalid email address.</span>
							</span>
						</div>
						<div  class="form-group">
							<div class="alert alert-success text-center" ng-show="successMsg">
								<strong>Success ! </strong>{{ successMsg }}
							</div>
							<div class="alert alert-danger  text-center" ng-show="errorMsg">
								<strong>Error ! </strong>{{ errorMsg }}
							</div>
						</div>
						<div class="form-group text-center">
							<button type="button" ng-click="forgotPassword(formData);" class="btn btn-big">Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>