<style>.manadatry {color:red;}</style>
<div class="rowColumns">
	<div class="leftColumn">
		<div class="content-leftColumn">
			<div class="columnImg"><img src="assets/images/signup-bg.jpg" alt="" title="Laravel"/></div>
			<h1 id="logo"><a title="Laravel" href="#"><img src="assets/images/logo.png" alt="Laravel" title="Laravel"style="height: 80px; border-radius: 50px;" /></a></h1>
			
		</div>
	</div>
	<div class="rightColumn">
		<div class="content-rightColumn">
			<ul class="top-menu">
				<li>
					<p>Dont have an account ?</p>
				</li>
				<li>
					<a href="#/register" title="SIGN UP" class="btn btn-secondary btn-small">SIGN UP</a>
				</li>
			</ul>
			<div class="inner-content">
				<h2>
					Sign in 
					<span>Enter your details below.</span>
				</h2>
				<div class="box-form">
					<form method="POST" name="loginForm" id="loginForm" ng-submit="login(formData);" class="form form-horizontal" novalidate>
						
						<div class="form-group">
							<label for="email">Email<span class="manadatry">*</span></label>
							<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
							<span style="color:red" ng-if="loginForm.email.$dirty && loginForm.email.$invalid">
								<span ng-if="loginForm.email.$error.required">Email is required field</span>
								<span ng-if="loginForm.email.$error.email">Invalid email address</span>
							</span>
						
						</div>			  
						<div class="form-group">
							<label ng-show="forgotlink == false" for="password">Password<span class="manadatry">*</span><a href="#/forgotpassword" class="text-forgot">Forgot Password ?</a>
							</label> 	
							<input type="password" name="password" id="password" ng-model="formData.password" class="form-control" placeholder="●●●●●●●●" ng-minlength="5"  ng-required="true">
							<span style="color:red" ng-if="loginForm.password.$dirty && loginForm.password.$invalid">
								<span ng-if="loginForm.password.$error.required">Password is required field</span>
								<span style="color:red" ng-if="!loginForm.password.$valid">Password must be of minimum 5 characters length</span>
							</span>
							<span ng-show="passwordError == true" style="color:red">Password is incorrect</span>
						</div>
						<div class="form-group">
							<div class="alert alert-success text-center" ng-show="successMsg">
								<strong>Success ! </strong>{{ successMsg }}
							</div>
							<div class="alert alert-danger  text-center" ng-show="errorMsg">
								<strong>Error ! </strong>{{ errorMsg }}
							</div>
						</div>
						<div class="form-group text-center">
							<button type="button" ng-click="login_button();" class="btn btn-big">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>