<style type="text/css">
#container {
	margin-top: 100px;
	padding: 50px;
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}
.mandatory{
	color:red;
}
</style>
<div id="container">
	<h1 class="text-center">Enter database details </h1><br><br>
	<div class="formContainer">
		<form method="POST" name="dbUpdateForm" ng-submit="dbUpdateForm(formData);" class="form form-horizontal" novalidate>
			<div class="row">
				<div class="col-sm-6">
					<label>Host Name<span class="mandatory">*</span></label>
					<input type="text" name="host_name" id="host_name" ng-model="formData.host_name" class="form-control" ng-required="true">
				</div>
				<div class="col-sm-6">	
					<label>Database Name<span class="mandatory">*</span></label>
					<input type="text" name="data_base_name" ng-model="formData.data_base_name" id="data_base_name" class="form-control" ng-required="true">					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label>User Name<span class="mandatory">*</span></label>
					<input type="text" name="user_name" ng-model="formData.user_name" id="user_name" class="form-control" ng-required="true">
				</div>
				<div class="col-sm-6">
					<label>Password<span class="mandatory">*</span></label>
					<input type="password" name="password" ng-model="formData.password" id="password" class="form-control">					
				</div>
			</div>
			<div  class="row">
				<div class="col-sm-12">
					<div class="alert alert-success text-center" ng-show="successMsg">
						<strong>Success ! </strong>{{ successMsg }}
					</div>
					<div class="alert alert-danger  text-center" ng-show="errorMsg">
						<strong>Error ! </strong>{{ errorMsg }}
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary" ng-click="update();" id="SaveDetails">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>