<div class="page-wrapper">
    <div class="page-header" style="margin: -6px 0 0px;">
        <div class="page-logo">
			<a href="javascript: void(0)" title="Plan Securely"><img src="assets/img/logo.png" alt="Plan Securely" title="Plan Securely"/>
			</a>
		</div>
        <div class="btn-menu">
			<a href="javascript: void(0)" title=""></a>
		</div>
        <nav>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-repeat="value in header">
					<li><a style="text-decoration: none;" href="#/admin/dashboard" title="Dashboard" style="margin-right: 15px;">{{value.page_name}}</a></li>
                </ul>
            </div>
        </nav>
        <div class="pull-right right-menu">
            <div class="dropdown-user">
				<a style="text-decoration: none;" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<img src="assets/img/img-user.png" alt="" title=""/>
					<h6>Admin</h6>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</a>
                <ul class="dropdown-menu">
                    <li>
						<a style="text-decoration: none;" href="#/admin/dashboard">Admin 
							<span style="text-decoration: none;" class="text-mail">admin@gmail.com</span>
						</a>
					</li>
                    <li><a style="text-decoration: none;" href="#/logout" title="Sign out" class="text-red">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="row-column">
        <div class="leftColumn">
            <div class="main-navigation">
                <ul class="menu-leftColumn">
                    <li><a style="text-decoration: none;" href="#/admin/dashboard">Dashboard</a></li>
                    <li><a style="text-decoration: none;" href="#/admin/email_template_management">Email template</a></li>
                    <li><a style="text-decoration: none;" href="#/admin/pagelist">CMS Management</a></li>
                    <li><a style="text-decoration: none;" href="#/admin/menu_management">Menu Management</a></li>
                </ul>
            </div>
        </div>

        <!----ngview----->
		
    </div>
</div>