<footer>
	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-3"> <a class="logo-foooter" href="#" title="Plan Securely"><img src="assets/images/symfony_logo.png" style="height: 50px;" alt="Plan Securely" title="Plan Securely"/></a>
					<p class="copyright">&copy; 2019 symfony.</p>
				</div>
				
				<div class="col-12 col-sm-12 col-md-9">
					<div class="row row-footerMenu">
						<div class="col-12 col-sm-6 col-md-3">
							<h5>Symfony</h5>
							<ul class="menu-list"  ng-repeat="value in res">
								<li><a ng-if="(value.menu_type) == 'footer'" style="text-decoration:none;" href="{{ value.menu_url}}">{{ value.menu_name}}</a></li>
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-md-3">
							<h5>Get Started</h5>
							<ul class="menu-list">
								<li><a href="#/register" title="How to Get Started">How to Get Started</a></li>
								<li><a href="#/register" title="Create Account">Create Account</a></li>
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-md-3">
							<h5>Resources</h5>
							<ul class="menu-list">
								<li><a href="#" title="Customer Stories">Customer Stories</a></li>
								<!-- <li><a href="#" title="Help Center">Help Center</a></li> -->
								<!-- <li><a href="#" title="Resource Center">Resource Center</a></li> -->
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-md-3">
							<h5>Get in Touch</h5>
							<ul class="menu-list">
								<!-- <li><a href="#" title="Contact us">Contact us</a></li> -->
							</ul>
							<ul class="list-socialMedia">
								<li><a href="https://www.facebook.com/" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>