<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>MaterialAdminLTE 2 | Simple Tables</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->
      <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.min.css')}}">
      <!-- Ionicons -->
      <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.min.css')}}">
      <!-- Theme style -->
      <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css')}}">
      <!-- Material Design -->
      <link rel="stylesheet" href="{{ asset('template/dist/css/bootstrap-material-design.min.css')}}">
      <link rel="stylesheet" href="{{ asset('template/dist/css/ripples.min.css')}}">
      <link rel="stylesheet" href="{{ asset('template/dist/css/MaterialAdminLTE.min.css')}}">
      <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
      <link rel="stylesheet" href="{{ asset('template/dist/css/skins/all-md-skins.min.css')}}">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
     
      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
   </head>
   <body class="hold-transition skin-blue sidebar-mini">
      <div class="wrapper">
      <header class="main-header">
         <!-- Logo -->
         <a href="../../index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">M<b>A</b>L</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">Material<b>Admin</b>LTE</span>
         </a>
         <!-- Header Navbar: style can be found in header.less -->
         <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
               <ul class="nav navbar-nav">
                  <!-- Messages: style can be found in dropdown.less-->
                  <li class="dropdown messages-menu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <i class="fa fa-envelope-o"></i>
                     <span class="label label-success">4</span>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                           <!-- inner menu: contains the actual data -->
                           <ul class="menu">
                              <li>
                                 <!-- start message -->
                                 <a href="#">
                                    <div class="pull-left">
                                       <img src="template/dist/img/user-160x160.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <h4>
                                       Support Team
                                       <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                    </h4>
                                    <p>Why not buy a new awesome theme?</p>
                                 </a>
                              </li>
                              <!-- end message -->
                              <li>
                                 <a href="#">
                                    <div class="pull-left">
                                       <img src="template/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <h4>
                                       AdminLTE Design Team
                                       <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                    </h4>
                                    <p>Why not buy a new awesome theme?</p>
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <div class="pull-left">
                                       <img src="template/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <h4>
                                       Developers
                                       <small><i class="fa fa-clock-o"></i> Today</small>
                                    </h4>
                                    <p>Why not buy a new awesome theme?</p>
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <div class="pull-left">
                                       <img src="template/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <h4>
                                       Sales Department
                                       <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                    </h4>
                                    <p>Why not buy a new awesome theme?</p>
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <div class="pull-left">
                                       <img src="template/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                    </div>
                                    <h4>
                                       Reviewers
                                       <small><i class="fa fa-clock-o"></i> 2 days</small>
                                    </h4>
                                    <p>Why not buy a new awesome theme?</p>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                     </ul>
                  </li>
                  <!-- Notifications: style can be found in dropdown.less -->
                  <li class="dropdown notifications-menu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <i class="fa fa-bell-o"></i>
                     <span class="label label-warning">10</span>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                           <!-- inner menu: contains the actual data -->
                           <ul class="menu">
                              <li>
                                 <a href="#">
                                 <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                 <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                 page and may cause design problems
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                 <i class="fa fa-users text-red"></i> 5 new members joined
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                 <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                 <i class="fa fa-user text-red"></i> You changed your username
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                     </ul>
                  </li>
                  <!-- Tasks: style can be found in dropdown.less -->
                  <li class="dropdown tasks-menu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <i class="fa fa-flag-o"></i>
                     <span class="label label-danger">9</span>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                           <!-- inner menu: contains the actual data -->
                           <ul class="menu">
                              <li>
                                 <!-- Task item -->
                                 <a href="#">
                                    <h3>
                                       Design some buttons
                                       <small class="pull-right">20%</small>
                                    </h3>
                                    <div class="progress progress-xs">
                                       <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                          <span class="sr-only">20% Complete</span>
                                       </div>
                                    </div>
                                 </a>
                              </li>
                              <!-- end task item -->
                              <li>
                                 <!-- Task item -->
                                 <a href="#">
                                    <h3>
                                       Create a nice theme
                                       <small class="pull-right">40%</small>
                                    </h3>
                                    <div class="progress progress-xs">
                                       <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                          <span class="sr-only">40% Complete</span>
                                       </div>
                                    </div>
                                 </a>
                              </li>
                              <!-- end task item -->
                              <li>
                                 <!-- Task item -->
                                 <a href="#">
                                    <h3>
                                       Some task I need to do
                                       <small class="pull-right">60%</small>
                                    </h3>
                                    <div class="progress progress-xs">
                                       <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                          <span class="sr-only">60% Complete</span>
                                       </div>
                                    </div>
                                 </a>
                              </li>
                              <!-- end task item -->
                              <li>
                                 <!-- Task item -->
                                 <a href="#">
                                    <h3>
                                       Make beautiful transitions
                                       <small class="pull-right">80%</small>
                                    </h3>
                                    <div class="progress progress-xs">
                                       <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                          <span class="sr-only">80% Complete</span>
                                       </div>
                                    </div>
                                 </a>
                              </li>
                              <!-- end task item -->
                           </ul>
                        </li>
                        <li class="footer">
                           <a href="#">View all tasks</a>
                        </li>
                     </ul>
                  </li>
                  <!-- User Account: style can be found in dropdown.less -->
                  <li class="dropdown user user-menu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <img src="template/dist/img/user-160x160.jpg" class="user-image" alt="User Image">
                     <span class="hidden-xs">Mater Admin</span>
                     </a>
                     <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                           <img src="template/dist/img/user-160x160.jpg" class="img-circle" alt="User Image">
                           <p>
                              Thanh Nguyen - Web Developer
                              <small>Member since Nov. 2012</small>
                           </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                           <div class="row">
                              <div class="col-xs-4 text-center">
                                 <a href="#">Followers</a>
                              </div>
                              <div class="col-xs-4 text-center">
                                 <a href="#">Sales</a>
                              </div>
                              <div class="col-xs-4 text-center">
                                 <a href="#">Friends</a>
                              </div>
                           </div>
                           <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                           <div class="pull-left">
                              <a href="#" class="btn btn-default btn-flat">Profile</a>
                           </div>
                           <div class="pull-right">
                              <a href="{{ path('ladminogout') }}" class="btn btn-default btn-flat">Sign out</a>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <!-- Control Sidebar Toggle Button -->
                  <li>
                     <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <!-- Main content -->
      <section class="content">
         <div class="row">
         <div class="col-md-12">
            <div class="box">
               <div class="box-header with-border">
                  <h3 class="box-title">USER DETAILS TABLE</h3>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                  <table class="table table-bordered">
                     <tr>
                        <th style="width: 10px">SN</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th style="width: 40px">BUTTON</th>
                     </tr>
                     {% for key,val in result %}
                     <tr>
                        <td>{{ val.id }}</td>
                        <td>{{ val.username }}</td>
                        <td>
                           {{ val.email }}
                        </td>
                        <td>
                           <label class="switch">
                           <input type="checkbox" id="status" class="A_status" value="{{ val.id }},{{ val.active_status }}"
						   {% if val.active_status == 1 %}checked{% endif %}>
						   
                           <span class="slider"></span>
                           </label>
                        </td>
                     </tr>
                     {% endfor %}
                     <button type="button" class="btn btn-default" >
                     Launch Default Modal
                     </button>
                  </table>
               </div>
			   <!---MODEL POP_UP---->
               <div class="modal fade" id="modal-default">
                  <div class="modal-dialog">
                     <div class="modal-content">
						<form name="status-form" id="status-form" action="{{ path('logoutStatus') }}"method="post">
							<div class="modal-header">
							   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							   <span aria-hidden="true">&times;</span></button>
							   <h4 class="modal-title">Default Modal</h4>
							</div>
							<div class="modal-body">
							   <p>you are sure to change the status</p>
							   <input type='hidden' name='hiddenStatus' id="hiddenStatus" value="">
							   <input type='hidden' name='hidden' id="hidden" value="">
							</div>
							<div class="modal-footer">
							   <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
							   <button type="button" onclick="changedStatus()" id="submit_button" class="btn btn-primary">Yes</button>
							</div>
						</form>
                     </div>
                  </div>
               </div>
			   
			   <div class="modal fade" id="modal">
                  <div class="modal-dialog">
                     <div class="modal-content">
						<form name="status-form" id="status-form" action="{{ path('logoutStatus') }}"method="post">
							<div class="modal-header">
							   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							   <span aria-hidden="true">&times;</span></button>
							   <h4 class="modal-title">Default Modal</h4>
							</div>
							<div class="modal-body">
							   <p>you are sure to change the status</p>
							   <input type='hidden' name='hiddenStatus' id="hiddenStatus" value="">
							   <input type='hidden' name='hidden' id="hidden" value="">
							</div>
							<div class="modal-footer">
							   <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
							   <button type="button" onclick="changedStatus()" id="submit_button" class="btn btn-primary">Yes</button>
							</div>
						</form>
                     </div>
                  </div>
               </div>
      </section>

      <script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js') }}"></script>
      <!-- Bootstrap 3.3.7 -->
      <script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
      <!-- Material Design -->
      <script src="{{ asset('template/dist/js/material.min.js') }}"></script>
      <script src="{{ asset('template/dist/js/ripples.min.js') }}"></script>
      <script>
         $.material.init();
      </script>
      <!-- Slimscroll -->
      <script src="{{ asset('template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
      <!-- FastClick -->
      <script src="{{ asset('template/bower_components/fastclick/lib/fastclick.js') }}"></script>

	<script>
		$(".A_status").change(function(id){
			var id			= $(this).attr('value');
			var arr_id		= id.split(',');
			var user_id		= arr_id[0];
			var user_status	= arr_id[1];
			
			$('#hidden').val(user_id);
			$('#hiddenStatus').val(user_status);
			$('#modal-default').modal('show');
			
			if($(this).prop("checked") == true){
				var user_status	= '1';
			}else{
				var user_status	= '0';			   
			}			
			var hiddenStatus  = $('#hiddenStatus').val(user_status);
		});
		
		
		function changedStatus(){
			var user_id = $('#hidden').val();
			var hiddenStatus  = $('#hiddenStatus').val();
			
			$.ajax({
				type: 'POST',
				url: 'logoutStatus',
				dataType: "json",
				async:     true, 				
				data: {'user_id':user_id,'hiddenStatus':hiddenStatus},
				success: function(response) {
			 
					if(response == 1){
					
					 setTimeout(function(){// wait for 5 secs(2)
					location.reload(); 
					}, 1000);
					
					//setTimeout("window.location = 'showUser'",100);
						//$(location).attr('href', 'showUser')
						//$('#modal').modal('show');
					}
				}
			});
		}
	</script>
   </body>
</html>