<div class="rowColumns">
	<div class="leftColumn">
		<div class="content-leftColumn">
			<div class="columnImg"><img src="assets/images/signup-bg.jpg"></div>
			<h1 id="logo"><a title="Cake Php" href="#"><img src="assets/images/cakephp.png" alt="Cake Php" title="Cake Php" style="height:95;width:140;"></a></h1>
		</div>
	</div>
	<div class="rightColumn">
		<div class="content-rightColumn">
			<div class="inner-content">
				<div class="alert alert-success text-center" ng-show="successMsg == true">
					<strong>Success ! </strong>Reset Password link is send to your email address.
				</div>
				<h2>
					Forgot Password
					<span>Enter your email details below.</span>
				</h2>
				<div class="box-form">
					<form method="post" name="forgotPasswordForm" id="forgotPasswordForm" ng-submit="forgotPassword(formData);" class="form form-horizontal" novalidate>
						<div class="form-group">
							<label for="Email Address">Email<span style="color:red;">*</span></label>
							<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
							<span style="color:red" ng-if="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid">
								<span ng-if ="forgotPasswordForm.email.$error.required">Email is required field.</span>
								<span ng-if="forgotPasswordForm.email.$error.email">Invalid email address.</span>
							</span>
						</div>
						<div class="alert alert-danger text-center" ng-show="errorMsg == true">
							<strong>Error ! </strong>Please enter an email address.
						</div>
						<div class="alert alert-danger text-center" ng-show="emailNotMatch == true">
							<strong>Error ! </strong>Email does not match.
						</div>
						<div class="alert alert-danger text-center" ng-show="emailVerifiedError == true">
							<strong>Error ! </strong><span>Your email address is not yet verified, Please verify your email first then reset the password.</span>
						</div>
						<div class="form-group">
							<button type="button" ng-click="forgotPassword();" class="btn btn-big">Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>