<style>
.manadatry {
	color:red;
}
</style>
<div class="rowColumns">
	<div class="leftColumn">
		<div class="content-leftColumn">
			<div class="columnImg"><img src="assets/images/email-confirmation-bg.jpg"></div>
			<h1 id="logo"><a title="Cake Php" href="#"><img src="assets/images/cakephp.png" alt="Cake Php" title="Cake Php" style="height:95;width:140;"></a></h1>
			<div class="bottom-content">
				<p><img src="assets/images/img-payment.png"></p>
			</div>
		</div>
	</div>
	<div class="rightColumn">
		<div class="content-rightColumn">
			<ul class="top-menu">
				<li><p>Already have an account ?</p></li>
				<li><a href="#/login" class="btn btn-secondary btn-small">Login</a></li>
			</ul>
			<div class="inner-content">
				<h2>
					Get started your free trial now.
					<span>Enter your details below.</span>
				</h2>
			</div>
            <div class="box-form">
				<form method="POST" name="registerForm" id="registerForm" ng-submit="register(formData);"class="form form-horizontal" novalidate>
					<div class="form-group">
						<label for="name">Name<span class="manadatry">*</span></label>
						<input type="text" name="name" id="name" ng-model="formData.name" class="form-control" placeholder="Name" ng-required="true">
						<span style="color:red" ng-if="registerForm.name.$dirty && registerForm.name.$invalid">
							<span ng-if="registerForm.name.$error.required">Name is required field.</span>
						</span>
					</div>
					<div class="form-group">
						<label for="email">Email<span class="manadatry">*</span></label>
						<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
						<span style="color:red" ng-if="registerForm.email.$dirty && registerForm.email.$invalid">
							<span ng-if="registerForm.email.$error.required">Email is required field.</span>
							<span ng-if="registerForm.email.$error.email">Invalid email address.</span>
						</span>
						<span ng-show="uniqueEmailError == true" style="color:red;">This email is alerady exist.</span>
					</div>
					<div class="form-group">
						<label for="password">Password<span class="manadatry">*</span></label>
						<input type="password" name="password" id="password" ng-model="formData.password" class="form-control" ng-minlength="6" placeholder="●●●●●●●●" ng-required="true">
						<span style="color:red" ng-if="registerForm.password.$dirty && registerForm.password.$invalid">
							<span ng-if="registerForm.password.$error.required">Password is required field.</span>
							<span ng-if="!registerForm.password.$valid">Password must be of minimum 6 characters length.</span>
						</span>
					</div>
					<div class="form-group">
						<label for="confirm_password">Confirm Password<span class="manadatry">*</span></label>
						<input type="password" name="confirm_password" id="confirm_password" ng-model="formData.confirm_password" class="form-control" placeholder="●●●●●●●●" ng-required="true">
						<span ng-show="passwordError == true" style="color:red">Password does not match.</span>
					</div>
					<div class="alert alert-danger text-center" ng-show="allFieldError == true">
						<strong>Error ! </strong>Please filled mandatory fields.
					</div>
					<div class="form-group">
						<button type="button" ng-click="register_button();" class="btn btn-big" >Create Account</button>
					</div>
				</form>
            </div>
		</div>
	</div>
</div>