<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="loadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
					<h2>Menu Management</h2>
					<div class="text-right">
						<a style="text-decoration:none;" class="btn btn-primary" href="#/admin/create_menu">Create menu</a>
					</div>
					</br>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Menu Name</th>
								<th>Menu Type</th>
								<th>Created</th>
								<th>Modified</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody ng-repeat="value in res">
							<tr>
								<td>{{value.menu_name}}</td>
								 <td>{{value.menu_type}}</td>
								<td>{{value.created}}</td>
								<td>{{value.modified}}</td>
								<td>
									<a style="text-decoration: none;" ng-model="formData.delete[$index]" data-toggle="modal" ng-click="delete(value.id);" data-target="#myModal"><span style="color: red;">Delete</span></a>
								</td>
							</tr>
						</tbody>
					</table>
					 <div class="alert alert-success text-center" ng-show="deleteMsg == true">
						menu deleted successfully
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal"role="dialog" style="margin-top: 100px; ">
	<div class="modal-dialog">
		<!-- Modal content-->
		<form action="" method="post" name="statusForm" id="statusForm" ng-submit="statusForm(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header">					<span>Delete</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-center">are you sure want to delete ?</p>
					<input type='hidden' name='hiddenid' ng-model="formData.hiddenid" id="hidden" >
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="deleteYes();" id="submit_button" data-dismiss="modal" class="btn btn-default" >Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div>