<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="loadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
					<h2>CMS management</h2>
					<div class="text-right">
						<a style="text-decoration:none;" class="btn btn-primary" href="#/admin/cms_management">Create Page</a>
					</div>
					</br>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Page Name</th>
								<!-- <th>Page Contanct</th> -->
								<th>Created</th>
								<th>Modified</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody ng-repeat="value in res">
							<tr>
								<td>{{value.page_name}}</td>
								<!-- <td>{{value.page_contanct}}</td> -->
								<td>{{value.created}}</td>
								<td>{{value.modified}}</td>
								<td>
									<a style="text-decoration: none;" class="btn btn-primary" href="http://upworkdevelopers.com/test/prosmy/app/#/static?page={{value.page_name}}" target="_blank">view</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

  
