<header ng-include="'view/layout/adminHeader.html'"></header> 
<!-- Check box css -->
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
</style>
<div class="row-column" ng-init="loadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
					<div class="alert alert-success text-center" ng-show="userActiveInactive">
						<strong>Success ! </strong>{{ userActiveInactive }}
					</div>
					<h2>Users List</h2>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center">Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="value in res">
								<td class="text-center">{{value.name}}</td>
								<td class="text-center">{{value.email}}</td>
								<td class="text-center">
									<label class="switch">
										<input type="checkbox" checked  ng-model="formData.checkbox[$index]" data-toggle="modal" ng-click="Status(value.id,$index);" data-target="#myModal" ng-checked="value.status == 1" data-backdrop="static">
										<span class="slider"></span>
									</label>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<p>&copy; Codeigniter 2019</p>
		</div>
	</div>
</div>

<!-- Modal Box content-->
<div class="modal fade" id="myModal"role="dialog" style="margin-top: 100px; ">
	<div class="modal-dialog">
		<form method="post" name="statusForm" id="statusForm" ng-submit="statusForm(formData);" class="form form-horizontal">
			<div class="modal-content">
				<div class="modal-header">
					<span>STATUS</span>
					<button type="button" class="close" ng-click="toggleNo();" data-dismiss="modal" style="margin-left: 380px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-center">are you sure you want to change the status ?</p>
					
					<input type='hidden' name='hiddenid' ng-model="formData.hiddenid" id="hidden">
				
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="changedStatus();" id="submit_button" data-dismiss="modal" class="btn-success">Yes</button>
					<button type="button" ng-click="toggleNo();" class="btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div>