<header ng-include="'view/layout/adminHeader.html'"></header>
<div class="row-column">
	<div class="rightColumn">
		<div class="box-content">
			<form method="post" name="cms_management" id="cms_management" ng-submit="cms_management(formData);" class="form form-horizontal" novalidate>
				<div class="form-group">
					<label for="page_name">Page Name<span style="color:red">*</span></label>
					<input type="text" name="page_name" id="page_name" ng-model="formData.page_name" class="form-control" placeholder="Page Name" ng-required="true">
					<span style="color:red" ng-show="cms_management.page_name.$dirty && cms_management.page_name.$invalid">
						<span ng-show="cms_management.page_name.$error.required">Page name is required field.</span>
					</span>
				</div>
				<div class="form-group">
					<label for="page_contant">Page Content<span style="color:red">*</span></label>
					<textarea ng-model="formData.page_content" rows="10" cols="80" ng-required="true"></textarea>
				</div>
				<div class="alert alert-success text-center" ng-show="successMsg">
					<strong>Success ! </strong>{{ successMsg }}
				</div> 
				<div class="alert alert-danger text-center" ng-show="errorMsg">
				   <strong>Error ! </strong>{{ errorMsg }}
				</div>
				<div class="col-md-12">
					<button type="button" class="btn bg-purple margin" ng-click="create_page_button();">Save</button>
				</div>
			</form>
		</div>
		<div class="page-footer">
			<p>&copy; Codeigniter 2019</p>
		</div>
	</div>
</div>

