<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="loadEmailTemplate();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row-column">
				<div class="row row-services">
					<div class="container">
						<h2>Email Template</h2>
						<form method="POST" name="email_template_form" id="email_template_form" class="form form-horizontal" novalidate>
							<div class="form-group col-md-12">
								<input type='text' ng-model="formData.sign_up" readonly>
							</div>
							<div class="form-group">
								<textarea ng-model="formData.sign_up_content" rows="10" cols="80" ng-required="true">{{formData.sign_up_content}}</textarea>
							</div>
							<div class="form-group col-md-12">
								<input type='text' ng-model="formData.forgot_password" readonly>
							</div>
							<div class="form-group">
								<textarea ng-model="formData.forgot_password_content" rows="10" cols="80" ng-required="true">{{ formData.forgot_password_content }}</textarea>
							</div>
							<div class="form-group col-md-12">
								<input type='text' ng-model="formData.change_password" readonly>
							</div>
							<div class="form-group">
								<textarea ng-model="formData.change_password_content" rows="10" cols="80" ng-required="true">{{ formData.change_password_content }}</textarea>
							</div>
							<div class="alert alert-success text-center" ng-show="successMsg">
								<strong>Success ! </strong>{{ successMsg }}
							</div>
							<div class="alert alert-danger text-center" ng-show="errorMsg">
								<strong>Error ! </strong>{{ errorMsg }}
							</div>
							<button type="button" class="btn bg-purple margin" ng-click="email_template(formData);">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<p>&copy; Codeigniter 2019</p>
		</div>
	</div>
</div>