<header ng-include="'view/layout/homeHeader.html'"></header>
	<div class="row-column">
		<div ng-bind-html="myText | to_trusted"></div>
	</div>
<footer ng-include="'view/layout/homeFooter.html'"></footer>
