@charset "utf-8";
/* CSS Document */	
@import'bootstrap.min.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');

/*-------------------------------------------------------------------------------------------RESET CSS START	s*/
body { font-family: 'Open Sans', sans-serif; direction: ltr; font-size:16px; color:#757575; line-height:26px; padding:0px; margin:0px; -webkit-font-smoothing: antialiased; }
html, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0px; padding:0px; }
footer, header, figure, aside { padding:0px; display:block; }
footer{ padding:64px 0px; border-top:1px solid #ededed; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, select, textarea, button { font-family: 'Open Sans', sans-serif; direction: ltr; color:#3e3e3e; font-size:12px; margin:0em; margin:0px; border:1px solid rgba(0,0,0,.15); -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; border-radius:.25rem; box-sizing:border-box; }
input, button { overflow:visible; }
input, textarea{ outline:none; }
input[type=file] + input[type=file] { margin-left:5px; }
input[type=text], input[type=password], textarea, select { padding:6px 15px; font-size:20px; line-height:1.5; }
select{ color:#0056a7; padding:10px 15px;  background:url(../images/icon-right.png) no-repeat right top; }
select + select, input[type=text] + input[type=text], input[type=password] + input[type=password] input[type=text] + select { margin-left:0px; }
input[type=text] + input[type=submit] { margin-left:10px; }
input[type=checkbox] { height:13px; width:13px; margin-right:10px; position:relative; top:1px; }
input[type=submit], input[type=button], input[type=reset], a, button { cursor:pointer; }
input[type=submit], input[type=button], input[type=reset], button { overflow:visible; }
input[type=submit] + input[type=submit], input[type=button] + input[type=button], input[type=reset] + input[type=reset], button + button, .btn + .btn, input[type=submit] + input[type=button], input[type=button] + input[type=submit] { margin-left:5px; }
input[type=radio] { margin-right:7px; position:relative; top:1px; }
input[type=radio] + abbr, input[type=checkbox] + abbr { padding-right:0px; }
input[type=file] { padding:4px 5px; display:inline; }
input[type=file] + input { margin-left:5px; }
input, input:focus, input:active, .btn:focus, .btn:active:focus, .btn.active:focus { outline:none; }
abbr + select, abbr + input { margin-left:15px; }
select[class*=col-] { padding:7px 8px; }
select option { padding-left:4px; }
input[type=submit], input[type=button], input[type=reset], button, .btn { font-weight:bold; padding:0px 48px; letter-spacing:1px; text-decoration:none; display:inline-block; text-transform:uppercase; background-color:#4b70fa; border-radius:5px; color:#FFF; height:48px; border-color:#4b70fa; line-height:48px; font-size:12px; }
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover, .btn:hover, .btn.focus, .btn:focus, .btn:hover { background-color:#2e2e2e; color:#FFF; border-color:#2e2e2e; }
p { margin:0px; padding-bottom:15px; }
a { color:#252525; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
a:hover{ text-decoration:underline; }
a:visited { text-decoration:none; }
a, a:hover, a:focus, a:active, a:visited { outline:none; }
a img, a:hover img, img, a input { text-decoration:none; }
a img, img, input[type=checkbox], input[type=radio], iframe { border:none; }
ul { margin:0px; padding:0px; }
del { visibility:hidden; }
textarea.form-control, textarea { width:100%; height:160px; resize:none; padding:12px 15px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
article{ padding:85px 0px 75px 0px; min-height:600px;}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
td { vertical-align:top; }
select { max-width:100%; }
img { max-width:100%; border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
hr { color:#D0D0D0; border-color:#eeeeee; margin:0px 0px 40px 0px }
address p { padding-bottom:5px; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
::-webkit-scrollbar { width:8px; }
::-webkit-scrollbar-button { width:8px; height:5px; }
::-webkit-scrollbar-track { background-color:#DDD; border: skinny plain lightgray; box-shadow: 0px 0px 3px #dfdfdf inset; }
::-webkit-scrollbar-thumb { background-color:#999; border: skinny plain gray; }
::-webkit-scrollbar-thumb:hover { background:#1b1e24; }
::-webkit-input-placeholder { font-family: 'Open Sans', sans-serif; direction: ltr; color:#a9a9a9; }
:-ms-input-placeholder { font-family: 'Open Sans', sans-serif; direction: ltr; color:#a9a9a9; opacity:1; }
::selection { background-color:#4b70fa; color:#FFF; }
.form-control::-webkit-input-placeholder { font-family: 'Open Sans', sans-serif; direction: ltr; color:#a9a9a9;}
.form-control::-moz-placeholder { font-family: 'Open Sans', sans-serif; direction: ltr; color:#a9a9a9; opacity:1; }
.form-control:-ms-input-placeholder { font-family: 'Open Sans', sans-serif; direction: ltr;color:#a9a9a9; opacity:1; }
.form-control:-moz-placeholder {font-family: 'Open Sans', sans-serif; direction: ltr; color:#a9a9a9;opacity:1; }
::-moz-selection { background-color:#4b70fa; color:#FFF; }
h1 { font-size:32px; font-weight:700; margin:0px; padding:0px; }
h2 { font-size:33px; margin:0px; color:#212121; padding-bottom:30px; font-weight:300; }
h2 span{ display:block; font-size:16px; color:#757575; padding-top:10px; line-height:20px; }
h3 { font-size:25px; font-weight:400; margin:0px; padding-bottom:15px; }
h4 { font-size:18px; line-height:30px; }
h5 { font-size:16px; margin:0px; color:#212121; padding-bottom:20px; }
/*-------------------------------------------------------------------------------------------RESET CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------COMMON CSS START	*/	
.col{ float:left; }
ul.list{ list-style:none; }
ul.list > li{ padding-bottom:40px; }
.form-control{
	font-size:20px;
	height:48px;
	color:#0056a7;
	border-radius:2px;
	box-shadow:none;
	padding:6px 20px;
	border:solid 1px #d2d2d2;
}
select.form-control:not([size]):not([multiple]){
	height:48px;
}
.form-control:focus{
	border-color: #4b70fa;
}
select, select.form-control { 
	width:100%; 
	padding-right:36px; 
	-webkit-appearance: none;  
	-moz-appearance:none;
	appearance:none; 
	padding-left:15px;
	background:url(../images/icon-select.png) no-repeat center right #FFF; 	
}
.form-group{
	margin-bottom:25px;
}
.p-t30{
	padding-top:30px !important;
}
.p-t10{
	padding-top:10px !important;
}
.p-b30{
	padding-bottom:30px !important;
}
.custom-control{
	padding:0px;
	font-size:17px !important;
	margin-right:18px;
	display:inline-block !important;	
}
.custom-control.custom-checkbox{
	font-size:13px !important;
}
.custom-radio .custom-control-indicator{
	top:6px;
}
.custom-radio .custom-control-indicator{
	width:15px;
	height:15px;
	background-color:#FFF;
	border:solid 1px #c2c2c2;
}
.custom-control-input:focus ~ .custom-control-indicator{
	box-shadow:none;
}
.custom-radio .custom-control-input:checked ~ .custom-control-indicator{
	border-color:#4b70fa;
	background-color:#4b70fa;
	background-image:none;
}
.custom-checkbox .custom-control-indicator{
	width:18px;
	height:18px;
	border:solid 1px #cecece;
	border-radius: 2px;
	background-color:transparent;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator{
	background-color:transparent;
	background-image:url(../images/icon-check.png) !important;
	background-size:90%;
}
.btn.btn-big{
	min-width:200px;
}
.btn.btn-small{
	height:40px;
	padding:0px 40px;
	line-height:38px;
}
.btn.btn-secondary{
	color:#4b70fa;
	border-color:#4b70fa;
	background-color:transparent;
}
.btn.btn-secondary:hover{
	color:#FFF;
	background-color:#4b70fa;
}

/*-------------------------------------------------------------------------------------------COMMON CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------HOME CSS START	*/
/*-----------------------------------------------------------------HEADER CSS START	*/	

/*-----------------------------------------------------------------HEADER CSS CLOSE	*/	
/*-----------------------------------------------------------------NVIGATION CSS START	*/
.sticky{ position:fixed; z-index:1;width:100%; }
.fixed { position:fixed; z-index:1;  }
.top-navbar{
	padding:30px 0px 0px 0px;
	-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;
}
.top-navbar #logo{
	display:inline-block;
}
@media (min-width:768px) {
.top-navbar.navbar-shrink{
	padding:15px 0px;
	background-color: rgba(24, 107, 185, 0.8);
}
}
.navbar{ float:right; }
.nav-signup {
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
	}
.navbar-nav.nav-signup > li > a{
	background-color:#FFF;
	padding:10px 25px;
	border-radius:3px;
	color:#4b70fa !important;
	margin-left:10px;
	}
.navbar-nav.nav-signup > li:hover > a{ 
	color:#FFF !important;
	background-color:#4b70fa;
	}	
.navbar-nav.nav-signup > li.btn-free-trial > a{
	color:#fff !important;
	background-color:#4b70fa;
	}
.navbar-nav.nav-signup > li.btn-free-trial:hover > a{
	color:#4b70fa !important;
	background-color:#FFF;
	}	
.navbar-nav{
	font-size:14px;
	font-weight:600;
	}
.navbar-nav > li > a{
	color:#FFF;
	padding:8px 25px 9px 25px;
	}
.navbar-nav > li:hover > a{
	color:#4b70fa;
	border-radius:3px;
	text-decoration:none;
	background-color:#FFF;
	}
.navbarDark .navbar-nav > li:hover > a{
	color:#4b70fa;
}		
.navbarDark .navbar-nav > li > a{
	color: #757575;
}	
.navbarDark.top-navbar.navbar-shrink .navbar-nav > li > a{
	color: #FFF;
}
.navbarDark.top-navbar.navbar-shrink .navbar-nav > li:hover > a{
	color:#4b70fa;
}
.logoBlue{
	display: none;
}
.navbarDark .logoBlue{
	display: block;
}
.navbarDark .logoWhite{
	display: none;
}
.navbarDark.top-navbar.navbar-shrink .logoWhite{
	display: block !important;
}
.navbarDark.top-navbar.navbar-shrink .logoBlue{
	display: none;
}



/*----------------------------------------------------------------NVIGATION CSS CLOSE	*/	
/*-----------------------------------------------------------------SLIDER CSS START	*/	
.carousel, .carousel .carousel-item{
	height:100%;
	max-height:790px;
	}
.carousel-item .carousel-caption {
	position:absolute;
	top:55%;
	left:50%;
	width:100%;
	font-size:18px;
	max-width:800px;
	margin:0px auto;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	}
.carousel .carousel-item img{
	background-size:cover;
	width:100%;
	object-fit:cover;
	}	
.carousel-item .carousel-caption h6{
	font-weight:300;
	font-size:34px;
	line-height:48px;
	padding-bottom:35px;
	}
.carousel-caption a{
	border:none;
	font-size:14px;
	padding:0px 82px;
	background-color:#3ecf8e;
	}
.carousel-control-next, .carousel-control-prev{ opacity:0; }
.carousel:hover .carousel-control-next, .carousel:hover .carousel-control-prev{ opacity:1; }
#myCarousel .carousel-item:before{
	position:absolute;
	content:"";
	width:100%;
	top:0px;
	height:790px;
	background-color: rgba(24, 107, 185, 0.8);
	}
/*-----------------------------------------------------------------SLIDER CSS CLOSE	*/	
/*-----------------------------------------------------------------HOME CSS START	*/	

.content-resources {
	border-radius:10px;
	border:solid 1px #cecece;
	box-shadow:0px 0px 15px rgba(0,0,0,0.2);	
}
.content-resources .resources-img img{
	width:100%;
	border-radius:10px 10px 0px 0px;
}
.content-resources .inner-resources{
	padding:12px 15px;
	width:100%;
	display:inline-block;
}
.content-resources .inner-resources h4{
	font-weight:300;
	font-size:18px;
}  
.content-resources .btn-play{
	float:right;
	margin-top:-24px;
}

/*-----------------------------------------------------------------HOME CSS CLOSE	*/	
/*-----------------------------------------------------------------ABOUT US CSS START	*/	
.box-welcome{
	text-align:center;
	padding-bottom:97px;
	}
.box-welcome p{ 
	max-width:710px;
	margin:0px auto;
	}	
.icon-simple-secure, .icon-reliable-resources, .icon-team-effort{
	width:100px;
	height:60px;
	margin-bottom:15px;
	background:url(../images/sprite-icon.png) no-repeat 0px 0px;
	}	
.icon-reliable-resources{ background-position:0px -75px; }	
.icon-team-effort{ background-position:0px -152px; }
.row-simple-section{ padding-bottom:100px; }
/*-----------------------------------------------------------------ABOUT US CSS CLOSE	*/	
/*-----------------------------------------------------------------RESOURCES CSS START	*/	
.section-resources h2{ text-align:center; }
.section-resources > .col{
	padding:0px;
	max-width:23%;
	border-radius:5px;
	border:solid 1px #cecece;
	}
.section-resources > .col + .col{ margin-left:25px; }	
.section-resources > .col > .content{ padding:10px; }
/*-----------------------------------------------------------------RESOURCES CSS CLOSE	*/	
/*-----------------------------------------------------------------FOOTER CSS START	*/	
ul.menu-list{ 
	font-size:14px;
	list-style:none;
	}	
ul.menu-list li a{ color:#757575; }
ul.menu-list li a:hover{
	color:#4b70fa;
	text-decoration:none;
	}
.copyright{ 
	font-size:13px;
	padding-top:10px;
	}
.logo-foooter{ 
	display:block;
	margin-top:17px;
	}	
ul.list-socialMedia{
	list-style:none;
	font-size:20px;
	padding:20px 0px 0px 0px;
}	
ul.list-socialMedia li{
	display:inline-block;
}
ul.list-socialMedia li + li{
	margin-left:15px;
}
ul.list-socialMedia li .fa-facebook{
	color:#185779;
}
ul.list-socialMedia li .fa-twitter{
	color:#1dabb8;
}

/*-----------------------------------------------------------------FOOTER CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------HOME CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------CONTACT US CSS START	*/	
.inner-topbanner{
	position:relative;
}
.inner-topbanner .topbanner-img img{
	width:100%;	
	height:500px;
	object-fit:cover;
}
.inner-topbanner .topbanner-img{
	position:relative;
}
.inner-topbanner .topbanner-img:after{
	position:absolute;
	width:100%;
	height:100%;
	content:"";
	top:0px;
	left:0px;
	background-color:rgba(0,86,167,0.7);
}
.topbanner-content{
	left:50%;
	top:60%;
	width:100%;
	line-height:1.6;
	font-style:italic;
	font-weight:300;
	font-size:20px;
	color:#FFF;
	max-width:600px;
	position:absolute;
	text-align:center;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);		
}
.topbanner-content h2{
	color:#FFF;
	font-style:normal;
	font-size:49px;
	padding-bottom:20px;
}

.box-conact-us h6{
	font-size:24px;
	color:#4b70fa;
	font-weight:300;
	margin-bottom:5px;
	}
.icon-call-us, .icon-message-send, .icon-mail-address{
	width:35px;
	height:42px;
	margin-bottom:8px;
	background:url(../images/sprite-icon.png) no-repeat 0px -222px;
	}
.icon-message-send{ 
	width:42px;
	height:26px;
	background-position:0px -279px; }
.icon-mail-address{ 
	width:42px;
	height:34px;
	background-position:0px -320px;
	}
.form-writeto{
	padding-left:60px;
}	
		
/*-------------------------------------------------------------------------------------------CONTACT US CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------TEAM MEMBER CSS START	*/	
.box-team-member h5{ 
	padding:20px 8px 15px 8px; 
	}
.box-team-member h5 em{
	display:block;
	color:#757575;
	font-size:14px;
	padding-top:10px;
	}	
.box-team-member .box-welcome{
	padding-bottom:60px;
	}	
.box-team-member > .row + .row{
	padding-top:15px;
}	
/*-------------------------------------------------------------------------------------------TEAM MEMBER CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------WHY PLAN SECURELY CSS START	*/	
.box-why-plan-securely h2{ line-height:60px; }
.icon-feature{
	width:58px;
	height:83px;
	margin-bottom:8px;
	background:url(../images/sprite-icon.png) no-repeat 0px -368px;
	}
ul.list.list-features > li{
	padding:0px 0px 15px 38px;
	background:url(../images/icon-right.png) no-repeat 0px 7px;
	}
.section-testimonial.advisorStestimonial{
	padding:0px 15px 50px 15px;
}		
.section-testimonial{
	max-width:580px;
	margin:0px auto;
	text-align:center;
	padding-bottom:97px;
	}	
.section-testimonial h2{ 
	font-size:24px;
	line-height:36px;
	padding:40px 0px 20px 0px;
	}	
.section-testimonial span{ 
	font-size:14px;
	text-transform:uppercase;
	}	
.box-features .features-leftContent{
	max-width:450px;
	float:right;
	font-size:18px; 
}	
.box-features .features-leftContent h2{
	line-height:1.3;
	padding-top:10px;  
}
.box-features .row{
	margin:0px;
}
.img-features {
	padding-right:0px;
}
.img-features img{
	width:100%;
	box-shadow:0px 0px 15px rgba(0,0,0,0.2);
}

/*-------------------------------------------------------------------------------------------WHY PLAN SECURELY CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------CARD DETAIL CSS START	*/	
.box-form .row{
	margin-left:-10px;
	margin-right:-10px;
}
.box-form .row [class*="col-"]{
	padding-left:10px;
	padding-right:10px;
}
.icon-faq{
	width:60px;
	height:54px;
	margin-bottom:40px;
	background:url(../images/sprite-icon.png) no-repeat 0px -466px;
	}
.list-card-detail > li{ padding-bottom:25px; }	
.list-card-detail h6{
	font-size:18px;
	color:#0056a7;
	}
.page-card-detail .container{ 
	width:100%;
	max-width:1225px;
	}	
.card-details-right-column{
	padding-left:40px;
	border-left:solid 1px #EEE;
	}	
.card-details-right-column:before, .card-details-right-column:after{
	position:absolute;
	left:-1px;
	top:-156px;
	width:1px;
	height:170px;
	content:"";
	background-color:#EEE;
	}	
.card-details-right-column:after{ 
	top:inherit;
	bottom:-75px;
	height:80px;
	}
.box-form label{ 
	font-size:13px;
	color:#535353;
	padding-bottom:4px;
	display:block;
	}	
.icon-calendar{ background:url(../images/icon-calender.png) no-repeat right center;	}	
.form-control.input-datepicker{
	padding-right:50px;
	background:url(../images/icon-datepicker.png) no-repeat center right #FFF;
}
.box-payment_options{
	margin:10px 0px 40px 0px;
}
ul.list-paymentOptions{
	list-style:none;
	padding:0px;
}
ul.list-paymentOptions li{
	display:inline-block;
}
ul.list-paymentOptions li + li{
	padding-left:25px;
}
.page-card-detail #logo{
	margin-bottom:50px;
}
.page-card-detail{
	display:table;
	width:100%;
	height: 100vh;
}
.page-card-detail article{
	vertical-align:middle;
	display:table-cell;
	padding:0px;
}
.row-card-detail > [class*="col-"]{
	padding-top:80px; 
	padding-bottom:40px; 	
}

/*-------------------------------------------------------------------------------------------CARD DETAIL CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------FINISH ACCOUNT CSS START	*/	
.finish-account-right-column{
	max-width:460px;
	width:460px;
	height:768px;
	color:#FFF;
	background:url(../images/img-boy-baby.jpg) no-repeat left top;
	}
.finish-account-right-column:after{ 
	position:absolute;
	left:0px;
	top:0px;
	content:"";
	z-index:0;
	width:460px;
	height:768px;	
	background-color:rgba(0, 86, 167, 0.7);
	}
/*-------------------------------------------------------------------------------------------FINISH ACCOUNT CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------PRICING CSS START	*/	
.icon-calendar{
	width:63px;
	height:51px;
	margin-bottom:22px;
	background:url(../images/sprite-icon.png) no-repeat 0px -535px;
	}
.row-trial{	padding-bottom:40px; }
.row-faq h5{ font-size:20px; }
.row-faq > .row{ padding-bottom:20px; }
.row-pricing{
	margin-bottom:80px;
}
.box-pricing{
	font-size:14px;
	font-weight:300;
	color:#757575;
	position:relative;
	text-align:center;
	padding:20px 50px;	
	border-radius:3px;
	border:solid 1px #cecece;
	border-width:4px 1px 1px 1px;
}
.box-pricing h2{
	text-align:right;
	font-size:60px;
	padding:0px;
	min-height:93px;
	line-height:0.7;
}
.box-pricing h2 sub{
	font-size:24px;
	top:31px;
	vertical-align: text-top;
}
.box-pricing p{
	font-style:italic;
}
.box-pricing h2 span{
	font-size:14px;
}
.box-pricing .btn{
	display:block;
	padding:0px 10px;
}
.box-pricing h6{
	text-align:left;
	font-size:20px;
	margin:-22px 0 27px;
}
.box-pricing.pricing-standard{
	border-top-color:#3ecf8e;
}
.box-pricing.pricing-standard h6{
	color:#3ecf8e;
}
.box-pricing.pricing-standard .btn{
	background-color:#3ecf8e;
	border-color:#3ecf8e;
}
.box-pricing.pricing-plus{
	border-top-color:#4b70fa;
}
.box-pricing.pricing-plus h6{
	color:#4b70fa;
}
.box-pricing.pricing-plus .btn{
	background-color:#4b70fa;
	border-color:#4b70fa;
}
.box-pricing.pricing-professional{
	border-top-color:#8773e9;
}
.box-pricing.pricing-professional h6{
	color:#8773e9;
}
.box-pricing.pricing-professional .btn{
	background-color:#8773e9;
	border-color:#8773e9;
}
.box-pricing.pricing-professional h2 img{
	position:relative;
	right:-30px;
}
.box-pricing .btn:hover{
	border-color:#2e2e2e;
	background-color:#2e2e2e;	
}
.box-pricing .text-recommended{
	position:absolute;
	left:-1px;
	top:25px;
}
.text-recommended{
	height:30px;
	color:#FFF;
	line-height:33px;
	font-size:12px;
	font-weight:600;
	width:123px;
	text-align:left;
	padding:0px 0px 0px 13px;
	background:url(../images/bg-recommended.png) no-repeat 0px 0px;
}
	
/*-------------------------------------------------------------------------------------------PRICING CSS CLOSE	*/	
/*-------------------------------------------------------------------------------------------DATEPICKER CSS START	*/	
.bootstrap-datetimepicker-widget {
  list-style: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  display: block;
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}
@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}
.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}
.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}
.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}
.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}
.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 0px;
}
.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}
.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eeeeee;
}
.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}
.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}
.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #eeeeee;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #777777;
}
.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}
.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #337ab7;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #337ab7;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}
.bootstrap-datetimepicker-widget table td span:hover {
  background: #eeeeee;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td span.old {
  color: #777777;
}
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget.wider {
  width: 21em;
}
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}
.input-group.date .input-group-addon {
  cursor: pointer;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.datepicker.dropdown-menu:after, .datepicker.dropdown-menu:before{
	display:none;
}
.datepicker.dropdown-menu{
	min-width:268px;
	padding:0px;
	margin:0px;
	border-radius:0px;
}
.datepicker thead tr:first-child th{
	background-color:#4b70fa;
	color:#FFF;
	height:48px;
	text-transform:uppercase;
	font-weight:normal;
	border-radius:0px;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{
	background-color:#4b70fa;
}

.datepicker thead tr:first-child th:hover{
	background-color:#4b70fa;
}
.datepicker td, .datepicker th, .bootstrap-datetimepicker-widget table td{
	border-radius:0px;
	font-weight:normal;
	color:#444444;
	vertical-align:middle;
	height:35px !important;
	width:35px !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu:after, .bootstrap-datetimepicker-widget.dropdown-menu:before{
	display:none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
	margin:0px;
	padding:0px;
	border-radius:0px;
}
.bootstrap-datetimepicker-widget ul{
	padding:0px;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
	text-shadow:none;
}
.datepicker td.active, .datepicker td.active:hover{
	background:#4b70fa !important;
	background-color:#4b70fa;
	color:#FFF;
	text-shadow:none;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th{
	height:48px !important;
}
.bootstrap-datetimepicker-widget table td.today::before{
	display:none;
}
.datepicker th.next, .datepicker th.prev{
	font-size:0px;
}
.datepicker th.next .glyphicon:after, .datepicker th.prev .glyphicon:after{
	font-size:15px;
	color:#FFF;
	padding-top:10px;
	display:inline-block;
	font-family:"FontAwesome";
}
.datepicker th.next .glyphicon:after{
	content:"\f0da";
}
.datepicker th.prev .glyphicon:after{
	content:"\f0d9";
}
/*-------------------------------------------------------------------------------------------DATEPICKER CSS CLOSE*/	
	
/*-------------------------------------------------------------------------------------------SIGNIN CSS START*/	
.rowColumns:after, .rowColumns:before{
	clear:both;
	content:"";
	display:block;
}
.rowColumns .leftColumn{
	width:460px;
	float:left;
	position:relative;
}
.rowColumns .leftColumn .content-leftColumn{
	height:100vh;
	color:#FFF;	
	padding:25px;
}
.rowColumns .leftColumn .columnImg{
	left:0px;
	top:0px;
	width:100%;
	z-index:-1;
	height:100vh;
	position:absolute;
}
.rowColumns .leftColumn .columnImg:before{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	content:"";
	position:absolute;
	background-color:rgba(0,86,167,0.7);
}		
.rowColumns .leftColumn .columnImg img{
	object-fit:cover;
	height:100%;
	width:100%;
}
.content-leftColumn .inner-content{
	position:absolute;
	top:50%;
	left:50%;
	line-height:1.6;
	font-weight:300;
	font-size:20px;
	width:100%;
	text-align:center;
	transform:translate(-50%,-50%);
	max-width:335px;
}
.rowColumns .leftColumn .content-leftColumn h2{
	color:#FFF;
	font-size:30px;
	padding-bottom:20px;
}
.btn-green{
	line-height:40px;
	height:40px;
	padding:0px 22px;
	border-color:#3ecf8e;
	background-color:#3ecf8e;
}
.rowColumns .leftColumn .content-leftColumn .bottom-content{
	position:absolute;
	width:100%;
	bottom:20px;
	left:0px;
	text-align:center;
	letter-spacing:2px;
	font-size:12px;
	text-transform:uppercase;
	padding:0px 40px;
}
.rowColumns .rightColumn{
	margin-left:460px;
	height:100vh;
	padding:25px;
	overflow:auto;
	position:relative;
}
.rowColumns .rightColumn .content-rightColumn{
	width:60%;	
	margin:0px auto;
	padding:140px 0px 40px;	
}
.rowColumns .rightColumn .content-rightColumn ul.top-menu{
	position:absolute;
	right:25px;
	top:25px;
}
ul.top-menu{
	font-size:13px;
	list-style:none;
}
ul.top-menu li{
	display:inline-block;
}
ul.top-menu li + li{
	margin-left:20px;
}
.text-forgot{
	float:right;
	color:#757575;
}
.rowColumns .rightColumn .content-rightColumn .inner-content a{ 
	color:#0056a7;
}
.icon-message-sendBig{
	width:61px;
	height:38px;
	margin-bottom:30px;
	background:url(../images/sprite-icon.png) no-repeat 0px -619px;
}
.box-advisor{
	padding:20px;
	text-align:center;
	border-radius:2px;
	margin:40px 0px 40px 0px;	
	border:solid 1px #cecece;
	background-color:#f6f6f6;
}
.box-advisor h6{
	padding:0px;
	margin:0px;
	font-size:16px;
	font-weight:bold;
	color:#414141;
}
.box-advisor h6 a{
	color:#4b70fa !important;
}
.text-term{
	font-size:13px;
	text-align:center;
}
.text-term a{
	text-decoration:underline;
}
.rowColumns-leftright .leftColumn{
	float:right;
}
.rowColumns.rowColumns-leftright .rightColumn{
	margin-left:0px;
}
.rowColumns-leftright .rightColumn .content-rightColumn{
	padding:0px 40px;
	width:100%;
}
.form-control.input-zip{
	width:49%;
	display:inline-block;
}
.text-not{
	color:#0056a7;
	font-size:14px;
	margin-left:5px;
	display:inline-block;
}
.rowColumns-leftright h2 span{
	line-height:25px;
}
.rowColumns-leftright h4{
	font-size:20px;
	font-weight:300;
	letter-spacing:1px;
	padding-bottom:20px;
}

/*-------------------------------------------------------------------------------------------SIGNIN CSS END*/
/*-------------------------------------------------------------------------------------------THANK YOU CSS START*/
.thankyou-section {
	background: url(../images/thankyou-bg.jpg)no-repeat;
	background-size: cover;
    width: 100%;
    height: 100%;
    padding: 20px;
}	
.thankyou-section #logo {
	top:22px;
	left: 35px;
	position: absolute;
	padding:0px;
}
.thankyou-inner {
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
    background-color: rgba(68, 107,250, 0.9);
    position: relative;
}
.thankyou-inner .inner-content {
	display: table-cell;
	font-weight: 300;
	font-size: 20px;
	padding: 0px 15px;
	vertical-align: middle;
}
.thankyou-inner .inner-content .icon-message-sendBig {
	background: url(../images/icon-message.png)no-repeat center top;
	width: 100px;
	height: 100px;
	margin: 0 auto 25px auto; 
}
.thankyou-inner .inner-content h2, 
.thankyou-inner .inner-content p {
	color: #fff;
	padding-bottom: 0px; 
}
.thankyou-inner .inner-content h2{
	line-height: 1.3;
	padding-bottom: 10px;
}
.thankyou-inner ul.listPrivacy{
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0px;
	text-align: center;
}

/*-------------------------------------------------------------------------------------------THANK YOU CSS END*/
/*-------------------------------------------------------------------------------------------LANDING PAGE CSS START*/
	.landingPage{
		background:url(../images/thankyou-bg.jpg) no-repeat center center;
		width:100%;
		height:100vh;
		background-size:cover;
	}
	.rowColumns.landingPage .leftColumn{
		width:40%;
		text-align: left;
		position: relative; 
		margin: 0px;
		background-color:rgba(68, 107,250, 0.9);
	} 
	.landingPage .leftColumn:after{
		width:164px;
		left: 100%;
		height: 100%;
		top:0px;
		content: "";
		position: absolute; 
		background:url(../images/rightShape.png) no-repeat center center;
		background-size: 100% 100%;
		
	}
	.rowColumns.landingPage .leftColumn .content-leftColumn{
		padding:40px 50px; 
	}
	.rowColumns.landingPage .content-leftColumn .inner-content{
		text-align: left;
		width: 100%;
		max-width: 100%;
		padding:0px 0px 0px 50px;
		line-height: 1.4;
	}
	.rowColumns.landingPage .leftColumn .content-leftColumn h2{
		font-size: 37px;
		line-height: 1.4;
		padding: 0px 0px 10px 0px;
	}
	.text-green{
		color: #3ecf8e;
	}
	.rowColumns.landingPage .form-signup{
		padding-bottom: 20px;
		padding-top: 10px;
		width: 100%;
		max-width: 510px;
		display: inline-block;
	}
	.form-signup input, .form-signup .form-control{
		height: 40px;
		border-radius: 5px;
		border:none;
		font-size: 14px;
		line-height: 40px;
	}
	.form-signup .form-control{
		width: 64%;
		float: left;
		color: #888888;
		margin-right: 2%;

	}

	.form-signup .btn{
		float: right;
		width: 34%;
		padding: 0px 5px;
		background-color: #3ecf8e;
	}
	.f17{
		font-size: 17px;
	}
	.rowColumns.landingPage ul.listPrivacy{
		position: absolute;
		padding: 0px;
		bottom: 40px;
		width: 100%;
	}
	ul.listPrivacy{
		line-height: 1;
		font-size: 12px;
		color: #d0dafd;
		list-style: none;
	}
	ul.listPrivacy li{
		position: relative;
		padding: 0px 14px;
		display: inline-block;
	}
	ul.listPrivacy li + li:after{
		position: absolute;
		width: 1px;
		height: 100%;
		left: -2px;
		top:0px;
		content: "";
		background-color: #d0dafd;
	}
	ul.listPrivacy li:first-child{
		padding-left: 0px;		
	}
	ul.listPrivacy li a{
		color: #d0dafd;
	}
	ul.listPrivacy li a:hover{
		text-decoration: underline;		
	}

/*-------------------------------------------------------------------------------------------LANDING PAGE CSS CLOSE*/
/*-------------------------------------------------------------------------------------------GET STARTED CSS START*/
.sec-freeTrail{
	z-index: 1;
	color: #FFF;
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	padding: 95px 0px 70px 0px; 
	background: url(../images/bg-getstarted.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}
.sec-freeTrail:after{
	width: 100%;
	height: 100%;
	content: "";
	left: 0px;
	top:0px;
	z-index: -1;
	position: absolute;
	background-color: rgba(0,86,167,0.7);
}
.sec-freeTrail .innerContent{
	max-width: 650px;
	margin: 0px auto;
}
.sec-freeTrail h2{
	font-size: 36px;
	color: #FFF;
	padding-bottom: 13px;
}
.sec-freeTrail  .btn-green{
	height: 49px;
	line-height: 49px;
	min-width: 200px;
}
/*-------------------------------------------------------------------------------------------GET STARTED CSS CLOSE*/
/*-------------------------------------------------------------------------------------------FEATURES CSS START*/	
.sec-features{
	padding: 50px 0px 80px 0px;
}
.sec-features h2{
	text-align: center;
	font-size: 36px;
	padding:0px 0px 85px 0px;
}
.container-small{
	max-width: 1000px;
	width: 100%;
}
.sec-features .row-simple-section{
	padding-bottom: 0px;
}
.sec-features .row-simple-section + .row-simple-section{
	margin-top: 40px;
}
.row-simple-section [class*="icon-"]{
	width: 65px;
	height: 65px;
	margin-bottom: 20px;
	background: url(../images/sprite-icon.png) no-repeat 0px 0px;
}
.icon-clientplan{
	background-position: 0px -703px !important;
}
.icon-liveChat{
	background-position: 0px -813px !important;
}
.icon-inviteClients{
	background-position: 0px -594px !important;
}
.icon-instantUpdate{
	background-position: 0px -915px !important;
}
.icon-calendarfeature{
	background-position: 0px -1015px !important;
}
.icon-freetrial{
	background-position: 0px -1109px !important;
}
.imgDashboard{
	margin: -144px -15px 0px;
}
.banneradvisors.inner-topbanner .topbanner-img img{
	height: 800px;
}
.banneradvisors.inner-topbanner .topbanner-img:after{
	display: none;
}
.banneradvisors .topbanner-content{
	top:180px;
	transform: translate(-50%,0);
	font-size: 16px;
	color: #212121;
	text-align: left;
	font-style: normal;
	max-width: 1140px;
	padding: 0px 15px;
	width: 100%;
	line-height: 1.7;
}
.banneradvisors .topbanner-content .topbanner-contentInner{
	max-width: 590px;
}
.banneradvisors .topbanner-content h2{
	color: #252525;
	font-size: 36px;
	line-height: 1.3;
}
.banneradvisors .topbanner-content .btn-green{
	height: 55px;
	font-size: 14px;
	margin-top: 15px;
	line-height: 55px;
	min-width: 240px;
}

/*-------------------------------------------------------------------------------------------FEATURES CSS END*/	


/*-------------------------------------------------------------------------------------------MEDIA CSS START*/	
@media (max-width:3845px) {
	.carousel-item .carousel-caption{ left:35%;}
	}
@media (max-width:3800px) {
	.carousel-item .carousel-caption{ left:41%;}
	}
@media (max-width:2304px) {
	.carousel-item .carousel-caption{ left:50%;}
	}
@media (max-width:1200px) {
.card-details-right-column{ padding-left:15px;}
.list-card-detail h6{ line-height:1.3;}
.form-card-detail.box-form{ padding-right:10px;}
.rowColumns .rightColumn .content-rightColumn{ width:100%;}
.rowColumns .leftColumn{ width:370px;}
.rowColumns .rightColumn{ margin-left:370px;}
.rowColumns .leftColumn .content-leftColumn .bottom-content{ padding:0px 20px; letter-spacing:1px;}
.rowColumns-leftright .rightColumn .content-rightColumn{ padding:0px;}
.carousel-item .carousel-caption{ padding:0px 30px;}
.row-card-detail > [class*="col-"]{ padding-top:50px;}
.box-why-plan-securely h2{ line-height:1.3;}
}
@media (max-width:1080px) {
.container{ width:100%;}
.navbar-nav > li > a{ padding:8px 15px 9px;}
.navbar-nav.nav-signup > li > a{ padding:10px 15px;}	
.carousel-item .carousel-caption h6{ font-size:24px; line-height:40px; padding-bottom:20px;}
.content-resources .inner-resources h4{ font-size:16px; line-height:1.4;}
.rowColumns.landingPage .leftColumn .content-leftColumn h2{ font-size: 30px;}
.rowColumns.landingPage .leftColumn .content-leftColumn{ padding: 30px;}
.rowColumns.landingPage .content-leftColumn .inner-content{ padding-left: 30px;}
}
@media (max-width:990px) {
#navbarsExampleDefault .navbar-nav{ padding:10px 10px 0px;}
#navbarsExampleDefault .navbar-nav.nav-signup{ padding-bottom:10px;}
.section-resources .row [class*="col-"]{ margin:10px 0px;}
.navbar{ padding:0px; float:none;}
.navbar .navbar-toggler{ height:40px; background:#3ecf8e; top:-40px; right:0px;}
.navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus{ background-color:#3e3e3e; border-color:#3e3e3e;}
.navbar .navbar-collapse{ background-color:rgba(0,0,0,0.8); margin-top:10px;}
.navbar-nav > li > a{ display:block;}
.navbar-nav.nav-signup > li > a{ margin-left:0px;}
.navbar-nav.nav-signup > li + li{ margin-top:10px;}
.nav-signup{ padding:10px 10px;}
.carousel-control-next, .carousel-control-prev{ width:5%;}
.inner-topbanner .topbanner-img img{ height:400px;}
.box-pricing{ padding:20px 15px;}
.box-pricing.pricing-professional h2 img{ right:0px;}
.box-pricing h2{ font-size:48px;}
.box-pricing h6{ margin-top:-36px; font-size:18px;}
.row-trial{ font-size:14px;}
article{ padding:40px 0px 20px;}
.box-team-member .box-welcome{ padding-bottom:30px;}
.box-features{ padding-bottom:20px;}
.rowColumns.landingPage .leftColumn{ width: 60%;}
.imgDashboard{ margin-left: 0px; margin-right: 0px;}
.navbarDark .navbar-nav > li > a{ color: #FFF;}
}
@media (max-width:854px) {
.rowColumns .leftColumn{ width:270px;}
.rowColumns .rightColumn{ margin-left:270px;}
.rowColumns .leftColumn .content-leftColumn{ padding:15px;}
.content-leftColumn .inner-content{ padding:0px 10px;}
.rowColumns .leftColumn .content-leftColumn h2{ font-size:23px;}
.content-leftColumn .inner-content{ font-size:17px;}
.carousel-item .carousel-caption h6{ font-size:21px; line-height:33px;}
ul.menu-list{ font-size:13px;}
.row-pricing{ margin-left:-5px; margin-right:-5px; }
.row-pricing [class*="col-"]{ padding-left:5px; padding-right:5px;}
.box-features .features-leftContent{ font-size:17px;}
.box-features .features-leftContent h2{ font-size:28px;}
}
@media (max-width:767px) {
.card-details-right-column{ margin-top:30px;}
.page-card-detail #logo{ margin:20px 0px 30px 0px;}	
.form-card-detail.box-form{ padding-right:0px;}
.card-details-right-column::before, .card-details-right-column::after{ display:none;}
.rowColumns .leftColumn{ width:100%; margin-bottom:20px;}
.rowColumns .leftColumn .content-leftColumn{ height:390px; position:relative;}
.rowColumns .leftColumn .columnImg{ height:100%;}
.leftColumn #logo{ text-align:center;}
.rowColumns .rightColumn{ margin-left:0px; height:auto; padding-left:15px; padding-right:15px;}
.rowColumns .rightColumn .content-rightColumn ul.top-menu{ position:inherit; padding-bottom:40px; text-align:right;}
.rowColumns .rightColumn .content-rightColumn{ padding:0px;}
.rowColumns .leftColumn .content-leftColumn .bottom-content{ bottom:0px;}
.content-leftColumn .inner-content{ padding-top:30px;}
.row-simple-section{ text-align:center;}
.row-simple-section [class*="col-"] + [class*="col-"]{ padding-top:30px; }
.row-simple-section .icon-simple-secure, .row-simple-section .icon-reliable-resources, .row-simple-section .icon-team-effort{ width:63px; margin:0px auto 15px auto;}
.logo-foooter{ text-align:center;}
.copyright{ text-align:center; margin-bottom:10px;}
.row-footerMenu [class*="col-"]{ padding:15px 0px;}
footer{ padding:30px 0px 20px 0px;}
.home-carousel .carousel-item img{ height:410px;}
.carousel-item .carousel-caption h6{ font-size:18px; padding-bottom:10px;}
.top-navbar.fixed-top{ position:absolute;}
.page-card-detail article{vertical-align:top;}
.row-card-detail > [class*="col-"]{ padding-top:20px;}
.form-writeto{ padding-left:15px;}
.box-conact-us ul.list{ text-align:center;}
.box-conact-us ul.list li .icon-call-us, .box-conact-us ul.list li .icon-message-send, .box-conact-us ul.list li .icon-mail-address{ margin:0px auto 10px auto;}
.inner-topbanner .topbanner-img img{ height:350px;}
.topbanner-content h2{ font-size:35px; padding-bottom:10px; }
.topbanner-content{ font-size:16px; padding:0px 15px;}
.row-pricing [class*="col-"] + [class*="col-"]{ padding-top:30px;}
.row-faq .row  > [class*="col-"] + [class*="col-"]{ padding-top:30px;}
.row-trial{ padding-bottom:0px;}
.row-trial [class*="col-"]{ padding-top:15px; padding-bottom:15px;}
.row-pricing{ margin-bottom:30px;}
.row-simple-section{ padding-bottom:30px;}
.box-welcome{ padding-bottom:40px;} 
.content-member{ margin:0px auto; display:table;}
.box-team-member .row [class*="col-"] + [class*="col-"]{ padding-top:20px;}
.box-features .features-leftContent{ max-width:100%; width:100%; padding-bottom:40px;}
.section-testimonial{ padding:20px 0px 50px 0px;}
.section-testimonial h2{ padding-top:20px;} 
.thankyou-inner .inner-content .icon-message-sendBig{ width: 70px; height: 70px; background-size: 100%;}
.rowColumns.landingPage .leftColumn:after{ display: none;}
.rowColumns.landingPage .leftColumn{ width: 100%; height: 100vh; overflow: auto;}
.rowColumns.landingPage .content-leftColumn .inner-content{ padding:0px 0px 40px 0px; position: inherit; transform: none; left: 0px; top:0px;}
.rowColumns.landingPage ul.listPrivacy{ position: inherit; bottom: 0px; padding-bottom:0px;}
.rowColumns.landingPage .leftColumn .content-leftColumn{ height: auto;}
.row-simple-section [class*="icon-"]{ margin-left: auto; margin-right: auto; }
.banneradvisors .topbanner-content h2{ font-size: 27px;}
.banneradvisors.inner-topbanner .topbanner-img img{ height: 620px;}
.banneradvisors .topbanner-content{ top:130px;}
}
@media (max-width:640px) {
h2{ font-size:28px;}
ul.list-paymentOptions li{ width:100%;}
ul.list-paymentOptions li + li{ padding:20px 0px 0px 0px;}
.rowColumns .leftColumn .content-leftColumn h2{ font-size:19px;}
.content-leftColumn .inner-content{ font-size:15px;}
.inner-content h2{ font-size:23px;}
.thankyou-inner .inner-content{ font-size: 17px;}
.thankyou-inner .inner-content br{ display: none;}
.thankyou-inner .inner-content .icon-message-sendBig{ margin-bottom: 15px;}
.thankyou-section #logo{ top:2px; left: 25px;}
.sec-freeTrail h2{ font-size: 30px;}
}
@media (max-width:575px) {
.box-form .row [class*="col-"] + [class*="col-"]{ margin-top:30px;}
ul.top-menu li{ width:100%; text-align:center;}
ul.top-menu li + li{ margin-left:0px;} 
.form-control.input-zip{ width:100%;}
.text-not{ margin-left:0px;}
.carousel-item .carousel-caption h6{ line-height:25px; font-size:15px;}
.carousel-item .carousel-caption{ font-size:14px;}
.carousel-caption a{ padding:0px 25px; font-size:12px; height:40px; line-height:40px;}
.top-navbar{ padding-top:20px;}
.carousel-item .carousel-caption h6{ line-height:20px;}
.carousel-item .carousel-caption{ line-height:1.6;}
.topbanner-content h2{ font-size:27px;} 
.form-signup .form-control{ width: 100%;}
.form-signup .btn{ width: 100%; margin-top: 10px;}
.banneradvisors .topbanner-content h2{ font-size: 22px;}
.banneradvisors .topbanner-content{ font-size: 15px; line-height: 1.5;}
}

/*-------------------------------------------------------------------------------------------MEDIA CSS END*/	


	