<div class="rowColumns">
	<div class="leftColumn">
		<div class="content-leftColumn">
			<div class="columnImg"><img src="assets/images/signup-bg.jpg"></div>
			<h1 id="logo"><a title="Codeigniter" href="#"><img src="assets/images/ci.png" alt="Codeigniter" title="Codeigniter" style="height:100;width:115;"></a></h1>
		</div>
	</div>
	<div class="rightColumn">
		<div class="content-rightColumn">
			<div class="inner-content">
				<h2>
					Forgot Password
					<span>Enter your email details below.</span>
				</h2>
				<div class="box-form">
					<form method="post" name="forgotPasswordForm" id="forgotPasswordForm" ng-submit="forgotPassword(formData);" class="form form-horizontal" novalidate>
						<div class="form-group">
							<label for="Email Address">Email<span style="color:red;">*</span></label>
							<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
							<span style="color:red" ng-if="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid">
								<span ng-if ="forgotPasswordForm.email.$error.required">Email is required field.</span>
								<span ng-if="forgotPasswordForm.email.$error.email">Invalid email address.</span>
							</span>
						</div>
						<div class="alert alert-success text-center" ng-show="successMsg">
							<strong>Success ! </strong>{{ successMsg }}
						</div>
						<div class="alert alert-danger text-center" ng-show="errorMsg">
							<strong>Error ! </strong>{{ errorMsg }}
						</div>
						<div class="form-group">
							<button type="button" ng-click="forgotPassword();" class="btn btn-big">Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>