<style>
.manadatry {
	color:red;
}
</style>
<div class="rowColumns" ng-init="is_email_verified()">
	<div class="leftColumn">
		<div class="content-leftColumn">
			<div class="columnImg"><img src="assets/images/signup-bg.jpg"></div>
			<h1 id="logo"><a title="Codeigniter" href="#"><img src="assets/images/ci.png" alt="Cake Php" title="Codeigniter" style="height:100;width:115;"></a></h1>
		</div>
	</div>
	<div class="rightColumn">
		<div class="content-rightColumn">
			<ul class="top-menu">
				<li><p>Dont have an account ?</p></li>
				<li><a href="#/register" title="Sign Up" class="btn btn-secondary btn-small">SIGN UP</a></li>
			</ul>
			<div class="inner-content">
				<h2>
					Sign in to Codeigniter
					<span>Enter your details below.</span>
				</h2>
				<div class="box-form">
					<form method="POST" name="loginForm" id="loginForm" class="form form-horizontal" novalidate>
						<div class="form-group">
							<label for="email">Email<span class="manadatry">*</span></label>
							<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
							<span style="color:red" ng-if="loginForm.email.$dirty && loginForm.email.$invalid">
								<span ng-if="loginForm.email.$error.required">Email is required field.</span>
								<span ng-if="loginForm.email.$error.email">Invalid email address.</span>
							</span>
						</div>			  
						<div class="form-group">
							<label for="password">Password<span class="manadatry">*</span><a href="#/forgotpassword" class="text-forgot" ng-hide="forgotPasswordHide == false">Forgot Password ?</a></label> 	
							<input type="password" name="password" id="password" ng-model="formData.password" class="form-control" placeholder="●●●●●●●●" ng-required="true">
							<span style="color:red" ng-if="loginForm.password.$dirty && loginForm.password.$invalid">
								<span ng-if="loginForm.password.$error.required">Password is required field.</span>
							</span>
						</div>
						<div class="alert alert-danger text-center" ng-show="errorMsg">
							<strong>Error ! </strong>{{ errorMsg }}
						</div>
						<div class="alert alert-success text-center" ng-show="successMsg">
							<strong>Success ! </strong>{{ successMsg }}
						</div>
						<div class="form-group">
							<button type="button" ng-click="login_button(formData);" class="btn btn-big">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>