<div class="rowColumns">
	<div class="leftColumn">
		<div class="content-leftColumn">
			<div class="columnImg"><img src="assets/images/signup-bg.jpg"></div>
			<h1 id="logo"><a title="Codeigniter" href="#"><img src="assets/images/ci.png" alt="Codeigniter" title="Codeigniter" style="height:100;width:115;"></a></h1>
		</div>
	</div>
    <div class="rightColumn">
    	<div class="content-rightColumn">
            <div class="inner-content">
            	<h2>
                	Reset Password 
                    <span>Enter your password details below.</span>
                </h2>
                <div class="box-form">
                    <form method="post" name="resetForm" id="resetForm" ng-submit="chnagePassword(formData);" class="form form-horizontal" novalidate>
                        <div class="form-group">
							<label for="password">Password<span style="color:red;">*</span></label>
							<input type="password" name="password" id="password" ng-model="formData.password" class="form-control" ng-minlength="6" placeholder="●●●●●●●●" ng-required="true"> 
							<span style="color:red" ng-show="resetForm.password.$dirty && resetForm.password.$invalid">
								<span ng-show="resetForm.password.$error.required">New password is required field.</span>
								<span ng-if="!registerForm.password.$valid">Password must be of minimum 6 characters length.</span>
							</span>
						</div>
						<div class="form-group">
							<label for="cNewPassword">Confirm Password<span style="color:red;">*</span></label>
							<input type="password" name="cNewPassword" id="cNewPassword" ng-model="formData.cNewPassword" class="form-control" placeholder="●●●●●●●●" ng-required="true">
							<span style="color:red" ng-show="resetForm.cNewPassword.$dirty && resetForm.cNewPassword.$invalid">
								<span ng-show="resetForm.cNewPassword.$error.required">Confirm password is required field.</span>
							</span>
                        </div>						<div class="alert alert-danger text-center" ng-show="errorMsg">							<strong>Error ! </strong>{{ errorMsg }}						</div>						<div class="alert alert-success text-center" ng-show="successMsg">							<strong>Success ! </strong>{{ successMsg }}						</div>
						<div class="form-group">
							 <button type="button" ng-click="reset_button();" class="btn btn-big">Submit</button>
						</div>
					</form>   
                </div>
            </div>
        </div>
    </div>
</div>