<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MaterialAdminLTE 2 | Log in</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.min.css')}}">
	<!-- Ionicons -->
	<link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.min.css')}}">
	<!-- Theme style -->
	<link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css')}}">
	<!-- Material Design -->
	<link rel="stylesheet" href="{{ asset('template/dist/css/bootstrap-material-design.min.css')}}">
	<link rel="stylesheet" href="{{ asset('template/dist/css/ripples.min.css')}}">
	<link rel="stylesheet" href="{{ asset('template/dist/css/MaterialAdminLTE.min.css')}}">
	<!-- iCheck -->
  <!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	
	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="609907680959-apkvuu7phsnt8e17p6s1sah4kauss8mg.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body class="hold-transition login-page">
	<div class="login-box">
	  <div class="login-logo">
		<a href="../../index2.html">Material<b>Admin</b>LTE</a>
	  </div>
	  <!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>

			<form action="{{ path('login') }}" method="post" id="login-form">
				<div class="form-group has-feedback">
					<input type="text" id="username" name="username" class="form-control" placeholder="Email" />
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" id="password" name="password" class="form-control" placeholder="Password" />
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-7">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember Me
							</label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-5">
					  <button type="submit" class="btn btn-primary btn-raised btn-block btn-flat" id="submit_button">LogIn</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

		<div class="social-auth-links text-center">
			<p>- OR -</p>
			<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
				Facebook
			</a>
			<a id="customBtn" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
				Google+
			</a>
		</div>
		<!-- /.social-auth-links -->

		<a href="#">I forgot my password</a><br>
		<a href="register.html" class="text-center">Register a new membership</a>

		</div>
	  <!-- /.login-box-body -->
	</div>
	 <div id="name"></div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- Material Design -->
<script src="{{ asset('template/dist/js/material.min.js')}}"></script>
<script src="{{ asset('template/dist/js/ripples.min.js')}}"></script>

<script src="{{ asset('template/customjs/jquery.validate.min.js')}}"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
   <script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js')}}"></script>
  <script>
  var googleUser = {};
  var startApp = function() {
    gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
        client_id: '609907680959-apkvuu7phsnt8e17p6s1sah4kauss8mg.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      attachSignin(document.getElementById('customBtn'));
    });
  };

  function attachSignin(element) {
    console.log(element.id);
    auth2.attachClickHandler(element, {},
        function(googleUser) {
		var profile = googleUser.getBasicProfile();
			
		var id = profile.getId(); 
		var fullName = profile.getName();
		var givenName = profile.getGivenName();
		var familyName = profile.getFamilyName();
		var imageURL = profile.getImageUrl();
		var googleEmail = profile.getEmail();
		$.ajax({
				type: 'POST',
				url: 'googlelogin',
				dataType: "json",
				async:     true, 				
				data: {'id':id, 'fullName':fullName, 'givenName':givenName, 'familyName':familyName, 'imageURL':imageURL, 'googleEmail':googleEmail},
				success: function(response) {
				 
					if(response == 1){
					//window.location.href = "http://stackoverflow.com";
						//window.redirect = 'dashboard';
						$(location).attr('href', 'dashboard')
					}
				}
			});
		  
        }, function(error) {
          alert(JSON.stringify(error, undefined, 2));
        });
  }
  </script>
<script>startApp();</script>
<script>
	$(document).ready(function() {
		$("#submit_button").click(function(event) {
			
			$("#login-form").validate({
				rules: {
					username: {
						required: true,
						minlength: 5
					},
					password: {
						required: true,
						email: true
					},
				},
				//For custom messages
				messages: {
					username:{
						required: "Enter a username",
						minlength: "Enter at least 5 characters"
					},
					email: "Please enter a valid email address",
				},
				errorElement : 'div',
				errorPlacement: function ( error, element ) {
					// Add the `help-block` class to the error element
					error.addClass( "help-block" );
					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element );
					}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
				},
				unhighlight: function (element, errorClass, validClass) {
					$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
				}

			}); 
		}); 
	}); 
</script>

</body>
</html>



