
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MaterialAdminLTE 2 | Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.min.css')}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.min.css')}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css')}}">
  <!-- Material Design -->
  <link rel="stylesheet" href="{{ asset('template/dist/css/bootstrap-material-design.min.css')}}">
  <link rel="stylesheet" href="{{ asset('template/dist/css/ripples.min.css')}}">
  <link rel="stylesheet" href="{{ asset('template/dist/css/MaterialAdminLTE.min.css')}}">
  

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			<a href="../../index2.html">Material<b>Admin</b>LTE</a>
		</div>

		<div class="register-box-body">
			<p class="login-box-msg">Register a new membership</p>
			
			{{ form_start(form, {'attr': { 'id':'register-form' }})  }}
				<div class="form-group has-feedback" id="myname">
					{{ form_row(form.username, {'attr': {'class': 'form-control','value':'newuser'}}) }}
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback" id="dob">
					{{ form_row(form.dateOfBirth, {'attr': {'class': 'form-control','value':'12/08/1997'}}) }}
					<span class="glyphicon glyphicon-calendar form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					{{ form_row(form.phone, {'attr': {'class': 'form-control', pattern:'[1-8][0-9]','maxlength': '10', 'required':'required','value':'2365236523'}}) }}
					<span class="glyphicon glyphicon-phone form-control-feedback"></span>
				</div>

				<div class="form-group has-feedback">
					{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control','minlength':'8','maxlength': '10', 'required':'required','value':'12345678'}}) }}
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">  
					{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control','minlength':'8','maxlength': '10', 'required':'required','value':'12345678'}}) }}
					<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
				</div> 
				
				<div class="form-group has-feedback">  
					{{ form_row(form.gender, {'attr': {'class': 'form-control'}}) }}
					<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
				</div> 
				
				<div class="form-group has-feedback">  
					{{ form_row(form.country, {'attr': {'class': 'form-control'}}) }}
					<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
				</div> 
				
				<div class="form-group has-feedback"> 
					<div class="g-recaptcha" data-sitekey="6Le6q4QUAAAAAPjps6x_LgbVFP4QAkP8zBWbSBOi" data-callback="recaptchaCallback"></div>
				</div>
				<div class="row">
					<div class="col-xs-7">
						<div class="checkbox">
							<label>
								<input type="checkbox"> I agree to the <a href="#">terms</a>
							</label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-5">
						<button type="submit" name="submit_button" id="submit_button" class="btn btn-primary btn-raised btn-block btn-flat">	Register
						</button>
					</div>
					<!-- /.col -->
				</div>
			{{ form_end(form) }}

		<div class="social-auth-links text-center">
		  <p>- OR -</p>
		  <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
			Facebook</a>
		  <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
			Google+</a>
		</div>

		<a href="login.html" class="text-center">I already have a membership</a>
	  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 3 -->
<script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<!-- bootstrap datepicker -->
<script src="{{ asset('template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- Material Design -->
<script src="{{ asset('template/dist/js/material.min.js')}}"></script>
<script src="{{ asset('template/dist/js/ripples.min.js')}}"></script>
<script>
    $.material.init();
	
	function recaptchaCallback(){
		if(grecaptcha.getResponse().length !== 0){
			$('#g-recaptcha-response').closest('.g-recaptcha').css('border', '0px solid #ccc');
		}else{
			$('#g-recaptcha-response').closest('.g-recaptcha').css('border', '2px solid #bb1717');
		}
	}
</script>

<script src="{{ asset('template/customjs/jquery.validate.min.js')}}"></script>
<script>
	$(document).ready(function() {
		$("#submit_button").click(function(event) { 
			$("#register-form").validate({
				rules: {
					name: {
						required: true,
						minlength: 5
					},
					email: {
						required: true,
						email: true
					},
					phone: {
						required: true,
						url:true
					},
					country:{
						required: true,
						url:true
					},
					gender:"required",
			
				},
				//For custom messages
				messages: {
					name:{
						required: "Enter a username",
						minlength: "Enter at least 5 characters"
					},
					email: "Please enter a valid email address",
				},
				errorElement : 'div',
				errorPlacement: function ( error, element ) {
					// Add the `help-block` class to the error element
					error.addClass( "help-block" );
					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element );
					}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
				},
				unhighlight: function (element, errorClass, validClass) {
					$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
				}

			}); 
		}); 
	}); 
</script>
</body>
</html>