<style>
.manadatry {
	color:red;
}
</style>
<div class="rowColumns">
   <div class="leftColumn">
      <div class="content-leftColumn">
         <div class="columnImg"><img src="assets/images/signup-bg.jpg" alt="" title=""/></div>
         <h1 id="logo"><a title="Plan Securely" href="#"><img src="assets/images/logo-plan-securely-white.png" alt="Plan Securely" title="Plan Securely"/></a></h1>
         <div class="inner-content">
            <h2>Forgot Password</h2>
            
         </div>
         <div class="bottom-content">
            <p>Your Information is Secure With Us.</p>
         </div>
      </div>
   </div>
   
   <div class="rightColumn">
      <div class="content-rightColumn">

         <div class="inner-content">
			 <div class="alert alert-success text-center" ng-show="errorMsg3 == true">
				 <span>Reset Password link is sent to your email </span>
			</div>
            <h2>
               Forgot Password
               <span>Enter your email details below.</span>
            </h2>
            <div class="box-form">
               <form action="" method="post" name="forgotPasswordForm" id="forgotPasswordForm" ng-submit="forgotPassword(formData);" class="form form-horizontal" novalidate>
                  <div class="form-group">
						<label for="email">Email<span class="manadatry">*</span></label>
						<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
						<span style="color:red" ng-if="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid">
							<span ng-if="forgotPasswordForm.email.$error.required">Email is required.</span>
							<span ng-if="forgotPasswordForm.email.$error.email">Invalid email address.</span>
						</span>
						<span ng-show="errorMsg2 == true" style="color:red">Invalid Email</span>
                  </div>
				  <div  class="form-group">
						<div class="alert alert-danger text-center" ng-if="allFieldError">
							<strong>Error!</strong> Please fill out all mandatory fields
						</div>
					</div>
                  <div class="form-group text-center">
                     <button type="button" ng-click="forgotPassword();" class="btn btn-primary btn-raised btn-block btn-flat">	Submit
					 </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>