<header ng-include="'view/layout/homeHeader.html'"></header>
	<article style="min-height: 243px;">
		<div class="container">
			<div class="box-welcome">
				<h2>About</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
	</article>
<footer ng-include="'view/layout/homeFooter.html'"></footer>