<style>.manadatry {color:red;}</style>
<div class="rowColumns">
	<div class="leftColumn">
		<div class="content-leftColumn">
			<div class="columnImg"><img src="assets/images/email-confirmation-bg.jpg" alt="" title=""/></div>
			<h1 id="logo"><a title="Plan Securely" href="#/home"><img src="assets/images/symfony_logo.png" alt="Plan Securely" title="Plan Securely" style="height: 50px;" /></a></h1>
			<div class="inner-content">
			</div>
			<div class="bottom-content">
				<p><img src="assets/images/img-payment.png" alt="" title=""/></p>
			</div>
		</div>
	</div>
	<div class="rightColumn">
		<div class="content-rightColumn">
			<ul class="top-menu">
				<li>
					<p>Already have an account ?</p>
				</li>
				<li>
					<a href="#/login" class="btn btn-secondary btn-small">Login</a>
				</li>
			</ul>
			<div class="inner-content">
				<h2>
					Create your account
					<span>Enter your details below.</span>
				</h2>
			</div>
            <div class="box-form">
				<form method="POST" name="registerForm" id="registerForm" ng-submit="register(formData);"class="form form-horizontal" novalidate>
					
					<div class="form-group">
						<label for="name">Name<span class="manadatry">*</span></label>
						<input type="text" name="name" id="name" ng-model="formData.name" class="form-control" placeholder="Name" ng-required="true">
						<span style="color:red" ng-if="registerForm.name.$dirty && registerForm.name.$invalid">
							<span ng-if="registerForm.name.$error.required">name is required field</span>
						</span>
					</div>
					<div class="form-group">
						<label for="email">Email<span class="manadatry">*</span></label>
						<input type="email" name="email" id="email" ng-model="formData.email" class="form-control" placeholder="yourname@email.com" ng-required="true">
						<span style="color:red" ng-if="registerForm.email.$dirty && registerForm.email.$invalid">
							<span ng-if="registerForm.email.$error.required">email is required field</span>
							<span ng-if="registerForm.email.$error.email">invalid email address</span>
						</span>
						<span ng-show="errorEmailExist == true" style="color:red">This email already exist</span>
					</div>
					<div class="form-group">
						<label for="password">Password<span class="manadatry">*</span></label>
						<input type="password" name="password" id="password" ng-model="formData.password" class="form-control" placeholder="●●●●●●●●" ng-minlength="5" ng-required="true">
						<span style="color:red" ng-if="registerForm.password.$dirty && registerForm.password.$invalid">
							<span ng-if="registerForm.password.$error.required">password is required field</span>
							<span style="color:red" ng-if="!registerForm.password.$valid">password must be of minimum 5 characters length</span>
						</span>
					</div>
					<div class="form-group">
						<label for="confirm_password">Confirm Password</label>
						<input type="password" name="confirm_password" id="confirm_password" ng-model="formData.confirm_password" class="form-control" placeholder="●●●●●●●●" ng-required="true">
						<span ng-show="passwordError == true" style="color:red">Confirm password does not match</span>
					</div>
					<div  class="form-group">
						<div class="alert alert-danger text-center" ng-if="allFieldError">
							<strong>Error!</strong> Please fill out all mandatory fields
						</div>
					</div>
					<div class="form-group text-center">
						<button type="button" ng-click="register_button();" class="btn btn-big" >Create Account</button>
					</div>
				</form>
            </div>
		</div>
	</div>
</div>