
<div class="rowColumns">
	<div class="leftColumn">
      <div class="content-leftColumn">
         <div class="columnImg"><img src="assets/images/signup-bg.jpg" alt="" title=""/></div>
         <h1 id="logo"><a title="Plan Securely" href="#"><img src="assets/images/logo-plan-securely-white.png" alt="Plan Securely" title="Plan Securely"/></a></h1>
         <div class="inner-content">
            <h2>Reset Password</h2>
         </div>
         <div class="bottom-content">
            <p>Your Information is Secure With Us.</p>
         </div>
      </div>
   </div>
    <div class="rightColumn">
    	<div class="content-rightColumn">
            <div class="inner-content">
            	<h2>
				<div class="alert alert-danger" ng-show="errorMsg2 == true">
					your token expaire.
				</div>
				<div class="alert alert-success text-center" ng-show="errorMsg3 == true">
					<span>Password reset successfully </span>
				</div>
                	Reset Password 
                    <span>Enter your password details below.</span>
                </h2>
                <div class="box-form">
				
                    <form action="" method="post" name="resetForm" id="resetForm" ng-submit="chnagePassword(formData);" class="form form-horizontal" novalidate>
						<span ng-show="allFieldError == true" style="color:red">please fill mendatory fields</span>
                         <div class="form-group">
							<label for="Password">New Password </label>
							<input type="password" name="password" id="password" ng-model="formData.password" class="form-control" placeholder="●●●●●●●●" ng-required="true" ng-minlength="5" /> 
							<span style="color:red" ng-show="resetForm.password.$dirty && resetForm.password.$invalid">
								<span ng-show="resetForm.password.$error.required">Password is required.</span>
								<span style="color:red" ng-if="!registerForm.password.$valid">password must be of minimum 5 characters length</span>
							</span>
						</div> 
						<div class="form-group">
							<label for="Password">Confirim New Password</a></label>
							<input type="password" name="confirm_password" id="confirm_password" ng-model="formData.confirm_password" class="form-control" placeholder="●●●●●●●●" ng-required="true">
							<span style="color:red" ng-show="resetForm.confirm_password.$dirty && resetForm.confirm_password.$invalid">
							<span ng-show="resetForm.confirm_password.$error.required">Password is required.</span>
							</span>
							<span ng-show="passwordError == true" style="color:red">Confirm password does not match</span>
                        </div> 
						<div class="form-group">
                        	<label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Remember me</span>
                            </label>
                        </div>
						<div class="form-group text-center">
							 <button type="button" ng-click="reset_button();" class="btn btn-primary btn-raised btn-block btn-flat">Submit</button>
						</div>
					</form>
				</div>       
                </div>
            </div>
        </div>
    </div>
</div>
