
<div class="rowColumns">
	<div class="leftColumn">
      <div class="content-leftColumn">
         <div class="columnImg"><img src="assets/images/signup-bg.jpg" alt="" title=""/></div>
          <h1 id="logo"><a title="Symfony" href="#"><img src="assets/images/symfony_logo.png" alt="Symfony" title="Symfony" style="height: 50px;"/></a></h1>
         <div class="inner-content">
            <h2>Reset Password</h2>
         </div>
         <div class="bottom-content">
            <p>Your Information is Secure With Us.</p>
         </div>
      </div>
   </div>
    <div class="rightColumn">
    	<div class="content-rightColumn">
            <div class="inner-content">
            	<h2>
                	Reset Password 
                    <span>Enter your password details below.</span>
                </h2>
                <div class="box-form">
				
                    <form action="" method="post" name="resetForm" id="resetForm" ng-submit="chnagePassword(formData);" class="form form-horizontal" novalidate>
                         <div class="form-group">
							<label for="Password">New Password </label>
							<input type="password" name="password" id="password" ng-model="formData.password" class="form-control" placeholder="●●●●●●●●" ng-required="true" ng-minlength="5" /> 
							<span style="color:red" ng-show="resetForm.password.$dirty && resetForm.password.$invalid">
								<span ng-show="resetForm.password.$error.required">Password is required.</span>
								<span style="color:red" ng-if="!registerForm.password.$valid">password must be of minimum 5 characters length</span>
							</span>
						</div> 
						<div class="form-group">
							<label for="Password">Confirim New Password</a></label>
							<input type="password" name="confirm_password" id="confirm_password" ng-model="formData.confirm_password" class="form-control" placeholder="●●●●●●●●" ng-required="true">
							<span style="color:red" ng-show="resetForm.confirm_password.$dirty && resetForm.confirm_password.$invalid">
							<span ng-show="resetForm.confirm_password.$error.required">Password is required.</span>
							</span>
							<span ng-show="passwordError == true" style="color:red">Confirm password does not match</span>
                        </div> 
						
						<div class="form-group">
							<div class="alert alert-danger text-center" ng-show="allFieldError == true">
								<strong>Error!</strong> Please fill out all mandatory fields
							</div>
							<div class="alert alert-danger text-center" ng-show="errorMsg2 == true">
								<strong>Error!</strong> Token is expaire.
							</div>
							<div class="alert alert-success text-center" ng-show="errorMsg3 == true">
								<span>Password reset successfully </span>
							</div>
							<div class="alert alert-danger text-center" ng-show="emailVerifiedError == true">
								<strong>Error!&nbsp</strong><span>Your email address is not yet verified, please verify your email first and reset the password.</span>
							</div>
                        </div>
						<div class="form-group text-center">
							 <button type="button" ng-click="reset_button();" class="btn btn-primary btn-raised btn-block btn-flat">Submit</button>
						</div>
					</form>
				</div>       
                </div>
            </div>
        </div>
    </div>
</div>
