<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="menuLoadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
					<div class="alert alert-success text-center" ng-show="successDelete == true">
						<strong>Success ! </strong>Menu deleted successfully.
					</div>
					<div class="row">
						<div class="col-md-6">
							<h2>Menu Management</h2>
						</div>
						<div class="col-md-6 text-right">
							<a href="#/admin/create_menu" style="text-decoration:none;" class="btn btn-primary">Create menu</a>
						</div>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Menu Name</th>
								<th>Menu Type</th>
								<th>Created</th>
								<th>Modified</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody ng-repeat="value in res">
							<tr>
								<td>{{value.menu_name}}</td>
								<td>{{value.menu_type}}</td>
								<td>{{value.created}}</td>
								<td>{{value.modified}}</td>
								<td>
									<a style="text-decoration: none;" ng-model="formData.edit[$index]" data-toggle="modal" ng-click="edit(value.id);" data-target="#myEditModal" title="edit"><img src="assets/images/edit.png" style="height:25;width:20;" data-backdrop="static"></a> |
								
									<a style="text-decoration: none;" ng-model="formData.delete[$index]" data-toggle="modal" ng-click="delete(value.id);" data-target="#myModal" title="delete"><img src="assets/images/delete.png" style="height:25;width:20;" data-backdrop="static"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<p>&copy; Cake Php 2019</p>
		</div>
	</div>
</div>

<!-- EDIT MODEL POPUP -->
<div class="modal fade" id="myEditModal"role="dialog" style="margin-top:100px;">
	<div class="modal-dialog">
		<form method="POST" name="menu_management_edit_form" id="menu_management_edit_form" ng-submit="menu_management_edit_form(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header"><span>EDIT</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-12">
							<div class="alert alert-danger text-center" ng-show="allFieldError == true">
								<strong>Error ! </strong>Please filled the mendatory fields.
							</div>
							<div class="alert alert-success text-center" ng-show="updateSuccess == true">
								<strong>Success ! </strong>Menu updated successfully.
							</div>
							<label>Name of menu<span style="color:red;">*</span></label>
							<input type="text" class="form-control" name="menu_name" ng-model="formData.menu_name" ng-required="true" ng-value="formData.menu_name">
							<span style="color:red" ng-show="menu_management_edit_form.menu_name.$dirty && menu_management_edit_form.menu_name.$invalid">
								<span ng-show="menu_management_edit_form.menu_name.$error.required">Menu name is required field.</span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label>Add menu</label>
							<div class="hidden-xs">
								<select class="selectpicker" ng-model="formData.menu_type" ng-value="formData.menu_type" ng-required="true">
									<option value="header">Header</option>
									<option value="footer">Footer</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label>Url<span style="color:red;">*</span></label>
							<input type="text" class="form-control" name="menu_url" ng-model="formData.menu_url" ng-required="true" ng-value="formData.menu_url">
							<span style="color:red" ng-if="menu_management_form.menu_url.$dirty && menu_management_form.menu_url.$invalid">
								<span ng-if="menu_management_form.menu_url.$error.required">Url is required field.</span>
							</span>
						</div>
					</div>
				</div>
				<input type="hidden" name="hidden_id" ng-model="formData.hidden_id" id="hidden_id" >
				<div class="modal-footer">
					<button type="button" class="btn-success" ng-click="update();">Update</button>
					<button type="button" class="btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</form>	
	</div>
</div> 

<!-- Delete Modal Box-->
<div class="modal fade" id="myModal"role="dialog" style="margin-top: 100px; ">
	<div class="modal-dialog">
		<form method="post" name="statusForm" id="statusForm" ng-submit="statusForm(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header">
					<span>DELETE</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 380px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-center">are you sure you want to delete ?</p>
					<input type="hidden" name="hiddenid" ng-model="formData.hiddenid" id="hidden" >
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="deleteYes();" data-dismiss="modal" id="submit_button" class="btn-success" >Yes</button>
					<button type="button" class="btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div>