<header ng-include="'view/layout/adminHeader.html'"></header> 
<div class="row-column" ng-init="cmsLoadData();">
	<div class="rightColumn">
		<div class="box-content">
			<div class="row row-services">
				<div class="container">
					<div class="alert alert-success text-center" ng-show="deleteMsg == true">
						<strong>Success ! </strong>Page deleted successfully.
					</div>
					<div class="row">
						<div class="col-md-6">						
							<h2>CMS Management</h2>
						</div>
						<div class="col-md-6 text-right">
							<a style="text-decoration:none;" class="btn btn-primary" href="#/admin/cms_management">Create Page</a>
						</div>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Page Name</th>
								<th>Created</th>
								<th>Modified</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="value in res">
								<td>{{value.page_name}}</td>
								<td>{{value.created}}</td>
								<td>{{value.modified}}</td>
								<td>
									<a style="text-decoration: none;" ng-model="formData.edit[$index]" data-toggle="modal" ng-click="edit(value.id);" data-target="#myEditModal" title="Edit" data-backdrop="static"><img src="assets/images/edit.png" style="height:25;width:20;"></a> |
									
									<a style="text-decoration:none;" href="http://upworkdevelopers.com/test/prockp/app/#/static?{{ value.page_name }}" target="_blank" title="View" data-backdrop="static"><img src="assets/images/view.png" style="height:25;width:20;"></a> |
									
									<!--<a style="text-decoration: none;" href="http://upworkdevelopers.com/test/prosmy/app/#/static?page={{value.page_name}}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>-->
								   
									<a style="text-decoration:none;" ng-model="formData.delete[$index]" data-toggle="modal" ng-click="delete(value.id);" data-target="#myModal" title="Delete" data-backdrop="static"><img src="assets/images/delete.png" style="height:25;width:20;"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<p>&copy; Cake Php 2019</p>
		</div>
	</div>
</div>

<!-- EDIT MODEL POPUP -->
<div class="modal fade" id="myEditModal"role="dialog" style="margin-top: 80px; ">
	<div class="modal-dialog">
		<form method="post" name="cms_managementUpdate" id="cms_managementUpdate" ng-submit="cms_managementUpdate(formData);" class="form form-horizontal" novalidate>
			<div class="modal-content">
				<div class="modal-header"><span>EDIT</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-12">
							<div class="alert alert-danger text-center" ng-show="allFieldError == true">
								<strong>Error ! </strong>Please filled the mendatory fields.
							</div>
							<div class="alert alert-success text-center" ng-show="updateSuccess == true">
								<strong>Success ! </strong>Page updated successfully.
							</div>
							<label for="page_name">Page Name<span style="color:red;">*</span></label>
							<input type="text" name="page_name" id="page_name" ng-model="formData.page_name" class="form-control" ng-required="true" ng-value="{{ formData.page_name }}"/>
							<span style="color:red" ng-show="cms_managementUpdate.page_name.$dirty && cms_managementUpdate.page_name.$invalid">
								<span ng-show="cms_managementUpdate.page_name.$error.required">Page name is required field.</span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="page_content">Enter Page Content<span style="color:red;">*</span></label>
							<textarea  ng-model="formData.page_content" ready="onReady()" rows="10" cols="80">
								{{ formData.page_content }}
							</textarea>
							<input type="hidden" name="hidden_id" ng-model="formData.hidden_id" id="hidden_id" >	
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn-success" ng-click="update();">Update</button>
					<button type="button" class="btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</form>	
	</div>
</div>

<!-- DELETE MODEL POPUP -->
<div class="modal fade" id="myModal" role="dialog" style="margin-top:100px; ">
	<div class="modal-dialog">
		<form method="post" name="deleteCmsForm" id="deleteCmsForm" ng-submit="deleteCmsForm(formData);" class="form form-horizontal">
			<div class="modal-content">
				<div class="modal-header"><span>DELETE</span>
					<button type="button" class="close" data-dismiss="modal" style="margin-left: 396px; margin-bottom: -19px;">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-center">are you sure you want to delete ?</p>
					<input type="hidden" name="hiddenid" ng-model="formData.hiddenid" id="hiddenid">
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="deleteYes();" id="submit_button" data-dismiss="modal" class="btn-success">Yes</button>
					<button type="button" class="btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div> 