<style>.manadatry {color:red;}</style>
<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
        <div class="rightColumn">
            <div class="box-content">
				<div class="inner-content">
					<div class="alert alert-danger text-center" ng-controller="layout"  ng-show="inactive"> 
						<strong>Error!</strong> {{ inactive }}
					</div>
					<h2>
						Change Password 
						<span>Enter your password details below.</span>
					</h2>
					<div class="box-form">
						<form method="POST" name="changPasswordForm" class="form form-horizontal" novalidate>
							<div class="form-group">
								<label for="old_password">Old Password<span class="manadatry">*</span></a></label>
								<input type="password" name="old_password" id="old_password" ng-model="formData.old_password" class="form-control"  placeholder="●●●●●●●●"  ng-minlength="5" ng-required="true">
								<span style="color:red" ng-show="changPasswordForm.old_password.$dirty && changPasswordForm.old_password.$invalid">
								<span style="color:red" ng-if="!changPasswordForm.old_password.$valid">Password must be of minimum 5 characters length</span>
								<span ng-show="changPasswordForm.old_password.$error.required">Old Password is required.</span>
								</span>
							</div>
								<input type="hidden" name="id" ng-model="formData.id">
							 <div class="form-group">
								<label for="new_password">New Password<span class="manadatry">*</span></label>
								<input type="password" name="new_password" id="new_password" ng-model="formData.new_password" class="form-control" placeholder="●●●●●●●●" ng-minlength="5" ng-required="true" >
								<span style="color:red" ng-show="changPasswordForm.new_password.$dirty && changPasswordForm.new_password.$invalid">
								<span style="color:red" ng-if="!changPasswordForm.new_password.$valid">Password must be of minimum 5 characters length</span>
								<span ng-show="changPasswordForm.new_password.$error.required">New Password is required.</span>
								</span>
							</div>
							<div class="form-group">
								<label for="confirm_password">Confirim Password<span class="manadatry">*</span></a></label>
								<input type="password" name="confirm_password" id="confirm_password" ng-model="formData.confirm_password" class="form-control" placeholder="●●●●●●●●" ng-required="true">
								<span ng-show="passwordError == true" style="color:red">Confirm password does not match</span>
							</div> 
							<div class="alert alert-success text-center" ng-show="successMsg">
								<strong>Success ! </strong>{{ successMsg }}
							</div>
							<div class="alert alert-danger  text-center" ng-show="errorMsg">
								<strong>Error ! </strong>{{ errorMsg }}
							</div>
							<div class="form-group">
								 <button type="button" ng-click="change_password(formData);" class="btn btn-big">Submit</button>
							</div>
						</form>      
					</div>
				</div>
			</div>
			<div class="page-footer">
				<p>&copy; Laravel 2019</p>
			</div>
        </div>
    </div>
</div>
