<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
	<div class="row-column" ng-init="loadData();">
		<div class="rightColumn">
			<div class="box-content">
				<div class="alert alert-danger text-center" ng-controller="layout"  ng-show="inactive"> 
					<strong>Error!</strong> {{ inactive }}
				</div>
				<h2>Welcome {{ name }}</h2> 
				<div class="row row-services">
				</div>
			</div>
			<div class="page-footer">
				<p>&copy; Laravel 2019</p>
			</div>
		</div>
	</div>
</div>
