<style>.mandatory {color:red;}</style>
<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
        <div class="rightColumn">
            <div class="box-content">
				 <div class="alert alert-danger text-center" ng-controller="layout"  ng-show="inactive"> 
					<strong>Error!</strong> {{ inactive }}
				</div>
                <div class="form-details profile-page">
                    <form class="form-horizontal" name="editprofile" enctype="multipart/form-data" novalidate>
                        <div class="client-detail">
                            <div class="client-image"> 
								<img ng-model="profileData.image" style="height: 150px; width:150px;" src="../api/public/{{ profileData.image }}" /><br><br>
								<div class="file btn btn-lg btn-primary" style="position: relative; overflow: hidden;">Upload Profile
									<input style="position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0;" data-my-Directive type="file" name="file">
								</div>  
							</div>
                        </div>
						<div ng-if="loader" style="text-align:center;">
						</div> 
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="name">Name<span class="mandatory">*</span></label>
                                    <input type="text" name="name" id="name" ng-model="profileData.name" ng-value="{{ profileData.name }}" class="form-control" ng-required="true">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="email">Email<span class="mandatory">*</span></label>
                                    <input type="email" name="email" id="email" ng-model="profileData.email" ng-value="{{ profileData.email }}" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="phone">Phone<span class="mandatory">*</span></label>
                                    <input type="text" name="phone" id="phone" ng-model="profileData.phone" class="form-control" ng-value="{{ profileData.phone }}" ng-minlength="10" ng-maxlength="10" ng-required="true" number>
									 <span style="color:red"  ng-if="!editprofile.phone.$valid">Phone Number must be 10 digit</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12" form-group">
                                <label for="date_of_birth">Date of Birth<span class="mandatory">*</span></label>
                                <input type="text" datepicker="" name="date_of_birth"placeholder="mm/dd/yyyy" ng-value="{{profileData.date_of_birth}}" ng-change="dateChanged(startDate)" ng-model="profileData.date_of_birth" class="form-control"> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="gender">Gender<span class="mandatory">*</span></label>
                                    <input type="radio" id="radio01" ng-model="profileData.gender" ng-value="'Male'" name="gender" ng-required="true">
                                    <label for="radio01"><span></span>Male</label>
                                    <input type="radio" id="radio02" ng-model="profileData.gender" ng-value="'Female'" name="gender" ng-required="true">
                                    <label for="radio02"><span></span>Female</label>
                                </div>
                            </div>
                        </div>
						 <div class="row">
                            <div class="col-md-4 col-lg-6 col-xs-12 col-sm-12">
								<div class="alert alert-success text-center" ng-show="successMsg">
										<strong>Success ! </strong>{{ successMsg }}
									</div>
									<div class="alert alert-danger  text-center" ng-show="errorMsg">
										<strong>Error ! </strong>{{ errorMsg }}
									</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn bg-purple margin" ng-click="updateProfile(profileData);">
                                Update Profile
                            </button>
                        </div>
                    </form>
                </div>
            </div>
			<div class="page-footer">
				<p>&copy; Laravel 2019</p>
			</div>
        </div>
    </div>
</div>