<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
		<div class="rightColumn">
			<div class="box-content">
                <div class="form-details profile-page">
					 <div class="alert alert-danger text-center" ng-controller="layout"  ng-show="inactive"> 
						<strong>Error!</strong> {{ inactive }}
					</div>
                    <div class="client-detail">
                        <div class="client-image">
							<div class="client-image"> <img ng-model="profileData.image" src="../api/public/{{ profileData.image }}" style="height: 150px; width:150px;"client-photo" /></div>
						</div>
                        <div class="client-name">
                            <h2 ng-model="profileData.name">{{ profileData.name }}</h2>
                        </div>
                        <div class="profile-edit-btn">
                            <a href="#/editprofile" class="btn">Edit Account</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <h3>{{ profileData.name }}</h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <h3 ng-model="profileData.email">{{ profileData.email }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="contact">Phone</label>
                                <h3 ng-model="profileData.phone">{{ profileData.phone }}</h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <h3 ng-model="profileData.date_of_birth">{{ profileData.date_of_birth }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <h3 ng-model="profileData.gender">{{ profileData.gender }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="page-footer">
					<p>&copy; Laravel 2019</p>
				</div>
            </div>
        </div>
    </div>
</div>
