{% extends 'base.html.twig' %}

{% block body %}
	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				profile page
				<small>it all starts here</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
		</section>
		<section class="content">
			<div class="box">
			 <div class="tab-pane" id="settings">
                <div style="text-align:right; margin-right:10px;">
					<a class="btn bg-purple margin" align="right" href="{{ path('editprofile')}}">Edit Profile</a>
				</div>
				<form class="form-horizontal">
				<div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Profile Pic</label>
                    <div class="col-sm-10">
                      <img  src="{{ image}}" alt="" width="80" height="80" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" value="{{ username }}" readonly>
                    </div>
                  </div>
				   <div class="form-group">
                    <label for="dob" class="col-sm-2 control-label">date_of_birth</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="dob" value="{{ date_of_birth }}" readonly>
                    </div>
                  </div>
				   <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">phone</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="phone" value="{{ phone }}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" value= "{{ email }}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Gender</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" value="{{ gender }}"readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label" readonly>Country</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" value="{{ country }}"readonly>
                  
                    </div>
                  </div>
                  
                  </div>
                </form>
              </div>
			</div>
		</section>
		
	</div>
	
{% endblock %}


