<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
        <div class="rightColumn">
            <div class="box-content">
				<div class="content-rightColumn">
					<div class="inner-content">
						<div ng-controller="layout" class="alert alert-danger text-center" ng-show="inactive">
							<strong>Error ! </strong>{{ inactive }}
						</div>
						<h2>
							Change Password
						</h2>
						<div class="box-form">
							<form method="post" name="changPasswordForm" id="changPasswordForm" class="form form-horizontal" novalidate>
								<div class="form-group">
									<label for="oldPassword">Old Password<span style="color:red;">*</span></label>
									<input type="password" name="oldPassword" id="oldPassword" ng-model="formData.oldPassword" class="form-control"  placeholder="●●●●●●●●" ng-required="true">
									<span style="color:red" ng-show="changPasswordForm.oldPassword.$dirty && changPasswordForm.oldPassword.$invalid">
										<span ng-show="changPasswordForm.oldPassword.$error.required">Old password is required field.</span>
									</span>
								</div>
								<input type="hidden" name="id" ng-model="formData.id">
								<div class="form-group">
									<label for="newPassword">New Password<span style="color:red;">*</span></label>
									<input type="password" name="newPassword" id="newPassword" ng-model="formData.newPassword" class="form-control" ng-minlength="6" placeholder="●●●●●●●●" ng-required="true" >
									<span style="color:red" ng-show="changPasswordForm.newPassword.$dirty && changPasswordForm.newPassword.$invalid">
										<span ng-show="changPasswordForm.newPassword.$error.required">New password is required field.</span>
										<span ng-if="!registerForm.password.$valid">Password must be of minimum 6 characters length.</span>
									</span>
								</div>
								<div class="form-group">
									<label for="cNewPassword">Confirm Password<span style="color:red;">*</span></a></label>
									<input type="password" name="cNewPassword" id="cNewPassword" ng-model="formData.cNewPassword" class="form-control" placeholder="●●●●●●●●" ng-required="true" ng-change="checkPass()">
									<span style="color:red" ng-show="changPasswordForm.cNewPassword.$dirty && changPasswordForm.cNewPassword.$invalid">
										<span ng-show="changPasswordForm.cNewPassword.$error.required">Confirm password is required field.</span>
									</span>
								</div>
								<div class="alert alert-success text-center" ng-show="successMsg">									<strong>Success ! </strong>{{ successMsg }}
								</div>
								<div class="alert alert-danger text-center" ng-show="errorMsg">
									<strong>Error ! </strong>{{ errorMsg }}
								</div>
								<div class="form-group">
									<button type="button" ng-click="change_password_button(formData);" class="btn btn-big">Submit</button>
								</div>
							</form>
						</div>       
					</div>
				</div>
			</div>
			<div class="page-footer">
				<p>&copy; Codeigniter 2019</p>
			</div>
		</div>
	</div>
</div>