<header ng-include="'view/layout/header.html'"></header>
<div class="row-column">
	<div class="rightColumn">
		<div class="box-content">
			<div ng-controller="layout" class="alert alert-danger text-center" ng-show="inactive">
				<strong>Error ! </strong>{{ inactive }}
			</div>
			<h2>Welcome {{ name }}</h2>
		</div>
		<div class="page-footer">
			<p>&copy; Codeigniter 2019</p>
		</div>
	</div>
</div>