<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
		<div class="rightColumn">
			<div class="box-content">
				<div ng-controller="layout" class="alert alert-danger text-center" ng-show="inactive">
					<strong>Error ! </strong>{{ inactive }}
				</div>
                <div class="form-details profile-page">
                    <div class="client-detail">
                        <div class="client-image">
							<img src="../api/assets/uploads/{{ profileDataImg.image }}" style="height:165;width:190;">
						</div>
                        <div class="client-name">						
                        </div>
                        <div class="profile-edit-btn">
                            <a href="#/editprofile" class="btn">Edit Account</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="name" style="color:black"><b>Name</b></label>
                                <h3>{{ profileData.name }}</h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="email" style="color:black"><b>Email</b></label>
                                <h3 ng-model="profileData.email">{{ profileData.email }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="contact" style="color:black"><b>Phone</b></label>
                                <h3 ng-model="profileData.phone">{{ profileData.phone }}</h3>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="dob" style="color:black"><b>Date of Birth</b></label>
                                <h3 ng-model="profileData.date_of_birth">{{ profileData.date_of_birth }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="gender" style="color:black"><b>Gender</b></label>
                                <h3 ng-model="profileData.gender">{{ profileData.gender }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="page-footer">
				<p>&copy; Codeigniter 2019</p>
			</div>
        </div>
    </div>
</div>