<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
	<div class="row-column" ng-init="loadData();">
		<div class="rightColumn">
			<div class="box-content">
				<div class="alert alert-danger"  ng-show="statusMsg == true">
					you are disabled please contact adminstratior
				</div>
				<h2>Welcome {{ name }}</h2> 
				<div class="row row-services">
				</div>
			</div>
		</div>
	</div>
		<div class="page-footer">
			<p>&copy; PlanSecurely 2017</p>
		</div>
</div>
