<header ng-include="'view/layout/header.html'"></header>
<div class="page-wrapper">
    <div class="row-column">
        <div class="rightColumn">
            <div class="box-content">
                <div class="form-details profile-page">
                    <form class="form-horizontal" method="post" name="editProfileForm" id="editProfileForm" ng-submit="editProfileForm(profileData);" enctype="multipart/form-data">
                        <div class="client-detail">
                            <!-- <div class="client-image"> <img src="assets/img/client-image.png" title="client-photo" /></div> -->
                            <div class="client-image"> <img ng-model="profileData.image" src="../api/web/{{ profileData.image }}"client-photo" /></div>
                   
							<div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                     <input data-my-Directive type="file" name="file">
                                </div>
                            </div>
                        </div>
						<div class="alert alert-success text-center" ng-show="successUpdateProfile == true">
						   Profile updated successfully
						</div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" ng-model="profileData.name" ng-value="{{ profileData.name }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" ng-model="profileData.email" ng-value="{{ profileData.email }}" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" name="phone" id="phone" ng-model="profileData.phone" class="form-control" ng-value="{{ profileData.phone }}" ng-minlength="10" ng-maxlength="10">
									 <span style="color:red"  ng-if="!editProfileForm.phone.$valid">Phone Number must be 10 digit</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12" form-group">
                                <label for="date_of_birth">Date of Birth</label>
                                <input type="text" datepicker="" name="date_of_birth"placeholder="yyyy/mm/dd" ng-value="{{profileData.date_of_birth}}" ng-change="dateChanged(startDate)" ng-model="profileData.date_of_birth" class="form-control"> 
								<!-- <input type="text" datepicker="" ng-model="startDate" ng-change="dateChanged(startDate)" /> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <input type="radio" id="radio01" ng-model="profileData.gender" ng-value="'Male'" name="gender">
                                    <label for="radio01"><span></span>Male</label>
                                    <input type="radio" id="radio02" ng-model="profileData.gender" ng-value="'Female'" name="gender">
                                    <label for="radio02"><span></span>Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn bg-purple margin" ng-click="updateProfile();">
                                Update Profile
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>