<div class="page-wrapper" ng-controller="layout">
    <div class="page-header" style="margin-top:-10px;padding-bottom:0px;">
        <div class="page-logo">
			<a href="javascript:void(0)" title="Cake Php"><img src="assets/images/cakephp.png" alt="Cake Php" title="Cake Php" style="height:70;width:110;"></a>
		</div>
        <div class="pull-right right-menu" ng-controller="logout">
            <div class="dropdown-user">
				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-decoration:none;" ng-controller="updateProfile">
					<img src="../api/webroot/uploads/{{ profileDataImg.image }}">
				</a>
                <ul class="dropdown-menu">
					<li><a href="#/profile" title="My Account" style="text-decoration:none;">My Account</a></li>
                    <li role="separator" class="divider"></li>
					<li><a href="#/changePassword" title="Change Password" style="text-decoration:none;">Change Password</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)" title="Logout" ng-click="logout();" class="text-red" style="text-decoration:none;">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-column">
        <div class="leftColumn">
            <div class="main-navigation">
                <ul class="menu-leftColumn">
                    <li><a href="#/dashboard" style="text-decoration:none;">Dashboard</a></li>
					<!-- <li ng-repeat="value in res"> -->
						<!-- <a ng-if="(value.menu_type) == 'header'" style="text-decoration: none;" href="{{ value.menu_url}}" target="_blank">{{ value.menu_name}}</a> -->
					<!-- </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>