<footer ng-controller="layout">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-3">
				<a class="logo-foooter" href="#" title="Cake Php"><img src="assets/images/cakephp.png" style="height:50px;" alt="Cake Php" title="Cake Php"/></a>
				<p class="copyright">&copy; 2019 Cake Php.</p>
			</div>
			<div class="col-12 col-sm-12 col-md-9">
				<div class="row row-footerMenu">
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Cake Php</h5>
						<ul class="menu-list" ng-repeat="value in res">
							<li>
								<a ng-if="(value.menu_type) == 'footer'" style="text-decoration:none;" href="{{ value.menu_url}}">{{ value.menu_name}}</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Get Started</h5>
						<ul class="menu-list">
							<li><a href="#/login" title="Login" target="_blank">Login</a></li>
							<li><a href="#/register" title="Create Account" target="_blank">Create Account</a></li>
							<li><a href="#/forgotpassword" title="Forgot Password" target="_blank">Forgot Password</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Resources</h5>
						<ul class="menu-list">
							<li><a href="https://api.cakephp.org/3.7/" title="Cake Php" style="text-decoration:none;" target="_blank">Cake Php</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<h5>Get in Touch</h5>
						<ul class="menu-list">
							<li><a href="https://book.cakephp.org/3.0/en/contributing/documentation.html" title="Documentation" style="text-decoration:none;" target="_blank">Documentation</a></li>
						</ul>
						<ul class="list-socialMedia">
							<li><a href="https://www.facebook.com/" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>